
# Ignore npm scraps
node_modules/
npm-debug.log

# Ignore OS X scraps
.DS_Store

# Ignore student content files (they'll change often)
content/students/

# Ignore build files
build/

# Ignore design files
design/
.fontcustom-manifest.json

# Ignore sass-cache
*/.sass-cache
*/.sass-cache/*
.sass-cache
.sass-cache/*

assets/fonts/
