
<article class="project project--case-study">
	{% include '../partials/project-header.html' %}
	{% if headerImage %}
	<section class="project-introduction">
		<svg class="project-introduction-placeholder" viewBox="0 0 {{ headerImage.width }} {{ headerImage.height }}" preserveAspectRatio="xMinYMin" width="{{ headerImage.width }}">
			<rect x="0" y="0" width="100%" height="100%"></rect>
		</svg>
		<img src="{{ pixel }}" data-src="{{ headerImage | asset_url }}" />
	</section>
	{% endif %}
	<section class="project-body">
		<div class="project-sidebar-filler">
			<aside class="project-sidebar">
				{% for header in headers %}
					<a href="{{ header.href }}" class="project-sidebar-headers-link">{{ header.text }}</a>
				{% endfor %}
			</aside>
		</div>
		<div class="project-content">
			{{ contents | safe }}
		</div>
	</section>
</article>
