<article class="project project--case-study">
	<header class="project-header">
		<div class="title">
			<h1 class="project-title">{{ title }}</h1>
			<h3 class="project-owner"><span class="light">by </span><a href="{{ owner.href }}">{{ owner.name }}</a></h3>
			<h4 class="project-category">{{ category | titleize }}</h4>
		</div>
	</header>
	<div id="content">
		<div class="sticktotopwindow" id="project-fixed-overlay">
			<div class="case-content">
				<div class="case-nav"></div>
				<section class="project-content-holder"></section>
			</div>
		</div>
		<div>
			<div class="case-content">
				<div class="case-nav-holder"></div>
				<section class="project-content">
					{{ contents | safe }}
				</section>
			</div>
		</div>
	</div>
	<footer class="project-footer">
	</footer>
</article>
