
<article class="project project--standard" id="content">
	<div class="sticktotopwindow" id="project-fixed-overlay">
		<div class="project-details">
			<header class="project-header">
				<h4 class="project-category">{{ category | titleize }}</h4>
				<h2 class="project-title">{{ title }}</h2>
				<h3 class="project-owner"><span class="light">by </span><a href="{{ owner.href }}">{{ owner.name }}</a></h3>
			</header>
			<section class="project-content">
				{{ contents | safe }}
			</section>
			<footer class="project-footer">
			</footer>
		</div>
		<div class="project-assets"></div>
	</div>
	<div id="gallery">
		<div class="project-details"></div>
		<div class="project-assets">
			{% for asset in assets %}
				<img src="{{ asset.url }}" />
			{% endfor %}
		</div>
	</div>
</article>
