// Typography

html {
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

// Font smoothing hack
html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1 {}

h2 {}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

p {}

li {}