.about {
	margin: 0 auto;
}

// == Header == //

.about-header {
	padding-top: 80px;
	padding-bottom: 160px;
	h1 {
		font-size: 2.2em;
		text-align: center;
		margin-bottom: 28px;
	}
	p {
		width: 580px;
		text-align: center;
		margin: 0 auto;
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}
	a {
		display: inline-block;
		padding: 2px 0;
		&:hover {
			color: #ef4862;
		}
		&:hover span {
			background-image: linear-gradient(to right, #ef4862 33%, rgba(255, 255, 255, 0) 0%);
		}
		span {
			background-image: linear-gradient(to right, #141414 33%, rgba(255, 255, 255, 0) 0%);
			background-repeat: repeat-x;
			background-position: bottom;
			background-size: 3px 1px;
			padding: 0 0 2px;
		}
	}
}

// == Brand Video == //
.about-brand {
	position: relative;
	width: 100%;
	height: 660px;
	.inner {
		position: absolute;
		top: 0;
		left: -50%;
		width: 200%;
		height: 100%;
		background-color: #000;
	}
}

// == Brand Info == //
.about-info {
	position: relative;
	padding-top: 140px;
	padding-bottom: 160px;
	h2 {
		font-size: 2.1em;
		text-align: center;
		margin-bottom: 28px;
	}
	p {
		width: 580px;
		text-align: center;
		margin: 0 auto;
		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}
}

// == Shapes == //

.about-header-shape-1 {
	top: 350px;
	right: 0px;
	@include shape-triangle(100px, #FCD319, 0);
}

.about-header-shape-2 {
	top: 170px;
	left: 50%;
	margin-left: 280px;
	@include shape-circle(74px, #EE4A62);
}

.about-header-shape-3 {
	top: 420px;
	left: 50%;
	margin-left: -580px;
	@include shape-square(100px, #64BDB1, 45);
}

.about-header-shape-4 {
	top: 500px;
	left: 50%;
	margin-left: -460px;
	@include shape-triangle(54px, #FCD319, 270);
}

.about-header-shape-5 {
	top: 666px;
	left: 50%;
	margin-left: 120px;
	z-index: 99;
	@include shape-rectangle(42px, 92px, #7ABDDF, 0);
}

.about-info-shape-1 {
	top: 70px;
	left: 50%;
	margin-left: -550px;
	@include shape-circle(120px, #7ABDDF);
	z-index: 1;
}

.about-info-shape-2 {
	top: 146px;
	left: 50%;
	margin-left: -464px;
	@include shape-triangle(80px, #EE4A62, 270);
	background-blend-mode: multiply !important;
	z-index: 2;
}

.about-info-shape-3 {
	top: 350px;
	right: 0px;
	@include shape-triangle(100px, #FCD319, 0);
}

.about-info-shape-4 {
	top: 350px;
	right: 0px;
	@include shape-triangle(100px, #FCD319, 0);
}

.about-info-shape-5 {
	top: 350px;
	right: 0px;
	@include shape-triangle(100px, #FCD319, 0);
}