.about {
    margin: 0 auto;
}

// == Header == //

.about-header {
    padding-top: 80px;
    padding-bottom: 40px;

    @media #{$media-tablet-medium} {
        padding-top: 0px;
    }

    h1 {
        margin-bottom: 28px;
        font-size: 2.2em;
        text-align: center;
    }

    p {
        width: 100%;
        max-width: 580px;
        margin: 0 auto;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 14px;
        }

        @media #{$media-tablet-medium} {
            text-align: left;
        }
    }

    a {
        display: inline-block;
        padding: 2px 0;

        &:hover {
            color: #ef4862;
        }

        &:hover span {
            background-image: linear-gradient(to right, #ef4862 33%, rgba(255, 255, 255, 0) 0%);
        }

        span {
            background-image: linear-gradient(to right, #141414 33%, rgba(255, 255, 255, 0) 0%);
            background-repeat: repeat-x;
            background-position: bottom;
            background-size: 3px 1px;
            padding: 0 0 2px;
        }
    }
}

// == Brand Video == //
.about-brand {
    position: relative;
    width: 100%;
    height: 660px;

    .inner {
        position: absolute;
        top: 0;
        left: -50%;
        background-color: #000;
        width: 200%;
        height: 100%;
    }
}

// == Brand Info == //
.about-info {
    padding-top: 140px;
    padding-bottom: 120px;

    @media #{$media-tablet-medium} {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h2 {
        margin-bottom: 18px;
        font-size: 2em;
        text-align: center;
    }

    p {
        width: 100%;
        max-width: 580px;
        margin: 0 auto;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 14px;
        }

        @media #{$media-tablet-medium} {
            text-align: left;
        }
    }

    .shapes {
        top: 630px;
    }
}

// == Contact == //

.about-contact {
    position: relative;
    background-color: #2b4074;
    width: 100%;
    min-height: 200px;
    margin-bottom: 60px;
    padding: 60px 100px 40px;
    color: white;

    @media #{$media-tablet-medium} {
        padding: 60px 40px 40px;
        width: calc(100% + 80px);
        margin-left: -40px;
    }

    h2 {
        color: white;
    }

    p {
        margin: 0;
        color: white;
    }

    input, textarea {
        border: none;
        background-color: white;
        outline: 0;
        width: 100%;
        color: white;
        color: $black;
        border-radius: 0;
    }

    .button {
        border: 1px solid #ef4862;
        background-color: #ef4862;
        width: 168px;
        color: white;

        &:hover {
            background-color: lighten(#ef4862, 4%);
            color: white;
        }

        @media #{$media-tablet-medium} {
            width: 100%;
        }
    }

    label {
        display: block;
        width: 100%;
        padding-bottom: 8px;
    }

    textarea {
        height: 234px;
        padding: 10px;
        color: #141414;
        font-family: 'Sofia', 'Avenir', 'Helvetica Neue', Arial, sans-serif;
        font-size: 16px;
        line-height: 19px;
    }

    .form-btn {
        text-align: right;
    }

    .row {
        @extend .group;

        position: relative;
        width: 100%;

        &:not(:last-child) {
            padding-bottom: 40px;
        }

        .col {
            float: left;

            @media #{$media-tablet-medium} {
                margin-bottom: 16px;
            }

            &.space {
                @media #{$media-tablet-medium} {
                    display: none;
                }
            }

            &:first-child {
                width: 360px;
                margin-right: 40px;

                @media #{$media-tablet-medium} {
                    margin-right: 0;
                    width: 100%;
                }
            }

            &:nth-child(2) {
                width: 560px;

                @media #{$media-tablet-medium} {
                    width: 100%;
                }
            }

            > div:not(:last-child) input {
                margin-bottom: 22px;

                @media #{$media-tablet-medium} {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

// == Shapes == //

.about-header-shape-1 {
    @include shape-triangle(100px, #fcd319, 0);

    top: 350px;
    right: 0;
}

.about-header-shape-2 {
    @include shape-circle(74px, #ee4a62);

    top: 170px;
    left: 50%;
    margin-left: 280px;
}

.about-header-shape-3 {
    @include shape-square(100px, #64bdb1, 45);

    top: 420px;
    left: 50%;
    margin-left: -580px;
}

.about-header-shape-4 {
    @include shape-triangle(54px, #fcd319, 270);

    top: 500px;
    left: 50%;
    margin-left: -460px;
}

.about-header-shape-5 {
    // @include shape-rectangle(42px, 92px, #7abddf, 0);
    z-index: 99;
    top: 666px;
    left: 50%;
    margin-left: 120px;
}

.about-info-shape-1 {
    @include shape-circle(120px, #7abddf);

    z-index: 1;
    top: 70px;
    left: 50%;
    margin-left: -550px;
}

.about-info-shape-2 {
    @include shape-triangle(80px, #ee4a62, 270);

    z-index: 2;
    top: 146px;
    left: 50%;
    margin-left: -464px;
}

.about-info-shape-3 {
    @include shape-half-circle(120px, #f38051, 135);

    top: 450px;
    right: 0;
}

.about-info-shape-4 {
    @include shape-triangle(45px, #fcd319, 270);

    top: 508px;
    left: 50%;
    margin-left: -700px;
}

.about-info-shape-5 {
    @include shape-square(36px, #64bdb1, 0);

    top: 436px;
    left: 50%;
    margin-left: -654px;
}