
.event-panel {
	position: fixed;
	z-index: 9;
	top: 0;
	bottom: 0;
	left: 100%;
	background: $blue;
	width: 100%;
	padding-left: $ribbon-peek;
	color: $black;
	font-family: $sofia;
	transition: transform 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	transform: translateX(-$ribbon-peek);

	//
	// State (hover, open, etc.)
	//
	&:not(.event-panel--open):hover {
		transform: translateX(-$ribbon-peek - $ribbon-peek-offset);
	}
	&--open {
		transform: translateX(-100vw);
		.event-panel-content {
			opacity: 1.0;
		}
		.event-ribbon-arrow {
			transform: rotate(180deg);
			transform-origin: center;
		}
		.event-ribbon-info-details {
			opacity: 0.0;
		}
	}

	//
	// Subcomponents
	//
	&-content {
		opacity: 0.0;
		max-width: 1200px;
		margin: 0 auto;
		padding: 40px 20px 60px;
		transition: opacity 400ms ease 600ms;
	}
}

.event-ribbon {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $blue;
	width: $ribbon-peek;
	height: 100%;
	padding: 0;
	&.yellow {
		background-color: $yellow;
		&:hover {
			background-color: darken($yellow, 10%);
		}
		.event-ribbon-info-details {
			color: rgba(0,0,0,0.4);
		}
	}
	&.black {
		background-color: #1e1e1e;
		color: white;
		a,p {
			color: white;
		}
		.event-info span {
			color: #a5a5a5;
		}
		.social-media {
			color: white;
		}
	}
	&:hover {
		transition: all 200ms ease-out;
		transform: translateX(0);
	}
	&-arrow {
		@include icon(44px, 44px);
		font-weight: bold;
		line-height: 40px;
		text-align: center;
		transition: transform 400ms ease;
	}
	&-info {
		position: absolute;
		top: 0;
		width: 400px;
		transform: rotate(90deg);
		transform-origin: 0 100%;
		p {
			display: inline;
			padding: 0 10px;
			line-height: $ribbon-peek;
			&:first-child {
				padding-left: 0;
			}
		}
		&-details {
			color: white;
			transition: opacity 200ms ease;
		}
	}
	&-social-media {
		position: absolute;
		right: 0;
		bottom: 12px;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		height: 150px;
		text-align: center;
	}
	&-social-media-icon {
		padding: 6px;
		color: $black;
		font-size: 22px;
		transition: color 200ms ease;
		&:hover {
			color: darken(desaturate($blue, 20%), 30%);
		}
	}
}

.event-intro {
	text-align: center;
	&-headline {
		max-width: 13.5em;
		margin: 0 auto;
		color: #fff;
		font-size: 64px;
		line-height: 1.35;
		letter-spacing: -0.03em;
	}
}
