
$ribbon-height-desktop: 44px;
$ribbon-height-mobile: 50px;
$ribbon-bleed: 240px;
$ribbon-peek: 8px;

$ribbon-transition-duration: 800ms;
$ribbon-transition-ease: cubic-bezier(0.19, 1, 0.22, 1);

.event-panel {
	background: $yellow;
	position: fixed;
	bottom: -100vh;
	z-index: 103;
	width: 100%;
	height: 100vh;
	transition: transform $ribbon-transition-duration $ribbon-transition-ease;
	will-change: transform;

	&:not(.event-panel--open) {
		cursor: pointer;
	}

	// the CSS for .event-panel--open is set in JS
}

.event-panel-content {
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	transition: opacity 400ms ease $ribbon-transition-duration;
	-webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 600px) {
	.event-panel {
		bottom: 100%;
		height: calc(100vh - #{$ribbon-height-desktop});
	}

	.event-panel--open {
		transform: translateY(100%);
	}

	.event-panel-content {
		opacity: 0.0;
		.event-panel--open & {
			opacity: 1.0;
		}
	}
}

//
// Event Ribbon
//

.event-ribbon {
	position: fixed;
	bottom: 0;
	z-index: 102;
	display: block;
	width: 100%;
	cursor: pointer;
	transition: background 400ms ease, transform $ribbon-transition-duration $ribbon-transition-ease;
	// will-change: transform;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
	// the CSS for .event-ribbon--open is set in JS
}

.event-ribbon-wrapper {
	background: $yellow;
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;

	&--desktop {
		display: none;
	}

	&--mobile {
		position: relative;
		z-index: 3;
	}

	.event-ribbon--open & {
		// background: $darkened-yellow;
	}
}

.event-ribbon-nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $ribbon-height-mobile;
	transition: opacity 400ms ease;
}

.event-ribbon-nav--minimized {
	.event-ribbon--open & {
		opacity: 0.0;
		pointer-events: none;
	}
}

.event-ribbon-nav--maximized {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.0;
	justify-content: center;
	pointer-events: none;
	.event-ribbon--open & {
		opacity: 1.0;
	}
}

.event-ribbon-wrapper--mobile .event-ribbon-callout {
	display: flex;
	align-items: center;
	padding-left: 16px;
	height: 100%;
}

.event-ribbon-arrow {
	position: relative;
	top: 1px;
	transform: rotate(180deg);
	display: inline-block;
	margin-right: 4px;
	font-size: 18px;
	transition: transform 300ms ease;
}

.event-ribbon-menu-toggle {
	border-left: 1px rgba(0, 0, 0, 0.1) solid;
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	padding: 0 20px;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);

	&--open {
		background: rgba(0, 0, 0, 0.1);
	}
}

.event-ribbon-details {
	opacity: 0.5;
}

.event-ribbon-bullet {
	position: relative;
	top: -2px;
	padding: 0 0.5em;
	font-size: 10px;
}

.event-ribbon-menu {
	background: #000;
	position: absolute;
	top: 100%;
	z-index: 2;
	width: 100%;
	color: #fff;
	font-size: 18px;
	text-align: right;
	transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
	&--open {
		transform: translateY(calc(-100% - #{$ribbon-height-mobile}));
	}
}

.event-ribbon-menu-line {
	margin: 0 18px;
	padding: 12px 0;
	&:not(:first-child) {
		border-top: 1px rgba(255, 255, 255, 0.15) solid;
	}
	&:last-child {
		padding-bottom: 18px;
	}
	.active {
		opacity: 0.5;
	}
}

.event-ribbon-menu-line--social {
	font-size: 24px;
	a {
		padding: 0 4px;
	}
}

@media only screen and (min-width: 600px) {

	.event-ribbon {
		background: $yellow;
		top: -$ribbon-bleed;
		bottom: auto;
	}

	.event-ribbon:not(.event-ribbon--open):hover {
		transform: translateY($ribbon-peek);
	}

	.event-ribbon + * {
		margin-top: $ribbon-height-desktop;
	}

	.event-ribbon--open {
		transform: translateY(calc(100vh - #{$ribbon-height-desktop}));
	}

	.event-ribbon-menu,
	.event-ribbon-wrapper--mobile {
		display: none;
	}

	.event-ribbon-wrapper--desktop {
		@include wrapper;
		background: transparent;
		border-bottom: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: $ribbon-bleed;
		height: $ribbon-height-desktop + $ribbon-bleed;
		font-size: 15px;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			top: $ribbon-bleed;
			left: 0;
			height: 1px;
			background: transparent;
			transform: background 400ms ease;
		}
		.event-ribbon--open &::before {
			background: rgba(0, 0, 0, 0.1);
		}
	}
}

// @media only screen and (min-width: 600px) {
// 	.event-panel {
// 		bottom: auto;
// 		top: calc(100% - #{$ribbon-height});
// 		&:not(.event-panel--open):hover {
// 			transform: none;
// 		}
// 	}
// 	.event-ribbon {
// 		top: 0;
// 		bottom: auto;
// 	}
//
// 	.event-ribbon-wrapper {
// 		font-size: 15px;
// 	}
//
// 	.event-ribbon-arrow {
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		margin-left: -9px;
// 		margin-top: -14px;
// 		.event-panel--open & {
// 			transform: rotate(180deg);
// 		}
// 	}
// }

//
// Event Panel Content
//

.event-panel-content {
	overflow-x: hidden;
	padding-top: 12px;
	a {
		@include underline;
	}
}

.event-panel-content-wrapper {
	@include wrapper;
}

.event-details {
	position: relative;
	padding-bottom: 48px;
	text-align: center;
	h1 {
		color: $red;
		font-size: 36px;
		line-height: 1.2;
	}
	h3 {
		font-weight: normal;
	}
	h4 {
		margin-bottom: 16px;
	}
	h5 {
		color: $red;
		font-size: 13px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.15);
		width: 111%;
		height: 1px;
		margin-left: -5.5%;
	}
}

.event-details-block {
	position: relative;
	margin-top: 24px;
	z-index: 2;
}

.event-details-location {
	a {
		font-size: 14px;
	}
}

.event-details-time {
	width: 111%;
	margin-left: -5.5%;
	padding: 48px 0;
	background: transparent url('/assets/images/grad-show-close@2x.jpg') no-repeat;
	background-size: cover;
}

.event-details-time-blocks {
	margin-top: 24px;
	display: flex;
	justify-content: space-around;
	h6 {
		margin-bottom: 6px;
		line-height: 1.0;
	}
	h3 {
		font-size: 20px;
	}
}

.event-info {
	padding-top: 48px;
	h3 {
		color: $red;
		margin-top: 48px;
		margin-bottom: 24px;
		font-size: 20px;
		font-weight: normal;
	}
}

.event-intro-figure {
	display: none;
}

.event-info-question {
	margin-bottom: 36px;
	h5 {
		line-height: 1.35;
		font-size: 18px;
		font-weight: normal;
		&::before {
			content: 'Q. '
		}
	}
	p {
		margin: 6px 0 0;
		font-size: 15px;
		line-height: 1.6;
		&::before {
			content: 'A. '
		}
	}
}
