
$off-white: darken($white, 10%);
$off-white-faded: darken($off-white, 40%);

$event-section-padding: 15vh;
$event-grid-increment: 34px; // NOTE: taken from space between circles in grid svg

.event-panel {
	background: $blue;
}

.event-section {
	position: relative;
	padding: 80px 0;
	padding: 15vh 0;
	@media only screen and (max-width: 451px) {
		padding: 10vh 0 5vh;
	}
}

.event-section-header {
	margin-bottom: 24px;
	font-size: 36px;
	font-weight: 600;
}

.event-section-subheader {
	font-weight: 600;
	line-height: 1.5;
}

.event-grid {
	position: absolute;
	img,
	svg {
		-webkit-user-drag: none;
		   -moz-user-drag: none;
		        user-drag: none;
	}
}

//
// Introduction
//

$media-event-introduction-a: 801px; // iPad
$media-event-introduction-b: 767px;
$media-event-introduction-c: 402px; // iPhone 6
$media-event-introduction-d: 374px; // iPhone 4 + 5

.event-introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
	text-align: center;
}

.event-introduction-overlay {
	@include fill();
	z-index: 1;
	background: linear-gradient(to top, rgba($blue, 1.0), rgba($blue, 0.01) 30%, rgba($blue, 0.00)),
	url('/assets/images/grad-show-wide.jpg') center center no-repeat;
	background-size: cover;
	opacity: 0.15;
}

.event-introduction-logo {
	position: relative;
	z-index: 2;
	max-width: 120px;
	margin-bottom: 12vh;

	@media #{$media-desktop-small} {
		max-width: 120px;
		margin-bottom: 10vh;
	}

	@media #{$media-mobile-small} {
		max-width: 100px;
		margin-bottom: 6vh;
	}
}

.event-introduction-logo-desktop {
	@media only screen and (max-width: $media-event-introduction-b) {
		display: none;
	}
}

.event-introduction-logo-mobile {
	display: none;
	@media only screen and (max-width: $media-event-introduction-b) {
		display: block;
	}
}

.event-introduction-headline {
	@include wrapper(18em);
	position: relative;
	z-index: 2;
	margin-bottom: 10vh;
	color: $yellow;
	font-size: 52px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.015em;

	&-slash {
		padding-right: 0.05mem;
		padding-left: 0.05em;
	}

	@media only screen and (max-width: $media-event-introduction-a) {
		font-size: 48px;
	}

	@media only screen and (max-width: $media-event-introduction-b) {
		font-size: 36px;
	}

	@media only screen and (max-width: $media-event-introduction-b) {
		font-size: 32px;
	}

	@media #{$media-mobile-small} {
		margin-bottom: 10vh;
		font-size: 28px;
	}
}

.event-introduction-details {
	@include wrapper($grid-width);
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	padding-bottom: 6vh;
	color: #fff;
	font-size: 20px;
	@media only screen and (max-width: $media-event-introduction-b) {
		flex-direction: column;
		align-items: center;
		padding-bottom: 5vh;
	}
}

.event-introduction-date,
.event-introduction-venue {
	display: flex;
	align-items: center;
	margin-right: 1em;
	margin-left: 1em;
	font-size: 16px;
	&::before {
		content: '';
		top: 1px;
		margin-right: 0.4em;
	}
	@media only screen and (max-width: $media-event-introduction-b) {
		margin-bottom: 0.5em;
	}
}

.event-introduction-date::before {
	@include icon('calendar', 36px);
}

.event-introduction-venue::before {
	@include icon('marker', 36px);
}

.event-introduction-date::before,
.event-introduction-venue::before {
	@media only screen and (max-width: $media-event-introduction-b) {
		flex-basis: 24px;
		width: 24px;
		height: 24px;
	}
}

.event-introduction-arrow {
	position: absolute;
	bottom: 24px;
	left: 50%;
	margin-left: -18px;
	color: #fff;
	font-size: 32px;
	animation: hover 2000ms ease infinite;
	@media only screen and (max-width: $media-event-introduction-d) {
		display: none;
	}
}

//
// About
//

.event-about {
	overflow: hidden;
	@media #{$media-tablet-medium} {
		padding-top: 10vh;
		padding-bottom: 5vh;
	}
}

.event-about-wrapper {
	@include wrapper(1200px);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media #{$media-tablet-medium} {
		flex-direction: column;
		align-items: center;
	}
}

.event-about-details {
	flex: 5 0;
	margin-right: 5%;
	margin-left: 9%;
	@media #{$media-tablet-medium} {
		margin: 0;

		order: 2;
	}
}

.event-about-description {
	max-width: 25em;
	font-size: 17px;
	line-height: 1.75;
	a {
		@include underline($off-white-faded);
		padding-bottom: 0.1em;
		&:hover {
			@include underline-color(rgba($red, 0.6));
			color: $red;
		}
	}
}

.event-about-schools {
	display: flex;
	align-items: center;
	margin-top: 24px;
	margin-right: auto;
	margin-left: auto;
}

.event-about-school {
	flex-basis: 30%;
	path {
		fill: #777;
	}
	@media #{$media-mobile-large} {
		flex-basis: 40%;
	}
}

.event-about-cross {
	position: relative;
	top: -4px;
	padding: 1em;
	color: #444;
	font-size: 24px;
}

.event-about-figure {
	flex: 7 0;
	margin: 0;
	@media #{$media-tablet-medium} {
		margin-bottom: 48px;

		order: 1;
	}
}

.event-about-grid-left {
	top: -$event-grid-increment;
	left: 0;
	@media only screen and (max-width: 1147px) {
		top: -$event-grid-increment * 2;
	}
	@media only screen and (max-width: 1080px) {
		top: -$event-grid-increment * 4;
		left: -$event-grid-increment * 6;
	}
	@media #{$media-tablet-medium} {
		top: -$event-grid-increment * 2;
		left: -$event-grid-increment * 6;
	}
}

.event-about-grid-right {
	top: $event-grid-increment;
	right: 0;
	@media only screen and (max-width: 1147px) {
		top: -$event-grid-increment * 1;
	}
	@media only screen and (max-width: 1080px) {
		top: -$event-grid-increment * 2;
		right: -$event-grid-increment * 6;
	}
	@media #{$media-tablet-medium} {
		display: none;
	}
}


//
// Event Details
//

.event-details {
	// NOTE: we're switching from `padding` to `margin` to make it so we can
	// use `position: absolute` and `bottom` on the .event-details-card
	overflow: hidden;
	margin-bottom: 0;
	padding-top: 200px;
	padding-bottom: 80px;
	// @media only screen and (max-width: $media-event-about-a) {
	// 	padding-top: 40px;
	// 	padding-bottom: 0;
	// }
	@media #{$media-desktop-small} {
		padding-top: 40px;
	}
}

.event-details-map {
	@include aspect-ratio(12, 6);
	position: relative;
	z-index: 3;
	background: $accent !important;
	width: 90%;
	margin-left: auto;

	@media #{$media-desktop-small} {
		@include aspect-ratio(3, 2);
		width: 100%;
	}

	@media #{$media-tablet-medium} {
		@include aspect-ratio(1, 1);
		pointer-events: none;
	}

	@media #{$media-mobile-large} {
		@include aspect-ratio(3, 4);
	}
}

// HACK: selecting the Google logo
.event-details-map > div > :last-child, // Google logo
.event-details-map > div > :nth-last-child(2), // "Report a problem with this map"
.event-details-map > div > :nth-last-child(3), // Mobile notice
.event-details-map > div > :nth-last-child(4), // Terms of Service
.event-details-map > div > :nth-last-child(5),
.event-details-map > div > :nth-last-child(6) {
	display: none !important;
}

.event-details-card {
	position: absolute;
	z-index: 4;
	bottom: -40px;
	left: 20%;
	background: $black;
	width: 90%;
	max-width: 400px;
	padding: 36px 36px 76px;

	@media #{$media-desktop-small} {
		left: 5%;
		max-width: 500px;
	}

	@media #{$media-mobile-large} {
		bottom: -10px;
		left: 4%;
		width: 92%;
		padding: 8% 7% 7%;
	}

	@media #{$media-mobile-small} {
		font-size: 0.9em;
	}
}

.event-details-header {
	margin-bottom: 32px;
	line-height: 1.0;
}

.event-details-sessions {
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
}

.event-details-session {
	flex: 1 0 50%;
}

.venue-name,
.event-details-date {
	margin-bottom: 24px;
	font-size: 20px;
	font-weight: 600;
}

.event-details-session-name {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.03em;
	// text-transform: uppercase;
}

.event-details-session-time {
	margin-bottom: 2px;
	font-size: 28px;
	@media #{$media-mobile-small} {
		font-size: 24px;
	}
}

.event-details-session-public {
	color: lighten($black, 40%);
	font-size: 13px;
}

.venue-address {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.venue-address:hover,
.venue-address.hover {
	span {
		@include underline-hover-color($red);
	}
	.venue-address-icon {
		opacity: 0.3;
	}
}

.venue-address span {
	@include underline($off-white-faded);
}

.venue-address-icon {
	@include icon('new-window', 19px);
	opacity: 0.5;
	margin-right: 32px;
}

.event-details-grid-left {
	top: 0;
	left: 0;
	@media only screen and (max-width: 1280px) {
		left: -$event-grid-increment * 2;
	}
	@media #{$media-desktop-small} {
		top: $event-grid-increment * 3;
		display: none;
	}
}

.event-details-grid-right {
	top: 0;
	right: 0;
	@media #{$media-desktop-small} {
		display: none;
	}
}

//
// FAQ
//

$media-event-faq-a: 601px;

.event-faq {
	overflow: hidden;
}

.event-faq-wrapper {
	@include wrapper(990px);
}

.event-faq-header {
	margin-bottom: 48px;
}

.event-faq-list {
	display: flex;
	line-height: 1.75;
	@media #{$media-tablet-medium} {
		flex-direction: column;
	}
}

.event-faq-link {
	&-contact:hover {
		@include underline-hover-color($orange);
	}
	&-parking-main:hover {
		@include underline-hover-color($blue);
	}
	&-parking-alternate:hover {
		@include underline-hover-color($yellow);
	}
}

.event-faq-column {
	$gutter-width: 6%;
	flex: 1 0 50%;
	padding-right: $gutter-width;
	@media #{$media-tablet-medium} {
		flex-basis: auto;
		padding-right: 0;
	}
}

.event-faq-item {
	margin-bottom: 24px;
}

.event-faq-question {
	margin-bottom: 6px;
	font-weight: 600;
	&::before {
		content: 'Q. ';
		opacity: 0.5;
	}
}

.event-faq-answer {
	color: $off-white;
	font-size: 16px;
	&::before {
		content: 'A. ';
		opacity: 0.5;
	}
	a {
		@include underline($off-white-faded);
		padding-bottom: 0.1em;
	}
}

.event-faq-grid-top {
	top: -$event-grid-increment * 1;
	right: 0;
	@media only screen and (max-width: 1008px) {
		right: -$event-grid-increment * 4;
	}
	@media only screen and (max-width: 950px) {
		right: -$event-grid-increment * 7;
	}
	@media only screen and (max-width: 780px) {
		right: -$event-grid-increment * 10;
	}
	@media only screen and (max-width: 650px) {
		top: -$event-grid-increment * 4;
		right: -$event-grid-increment * 11;
	}
	@media only screen and (max-width: 376px) {
		display: none;
	}
}

.event-faq-grid-left {
	bottom: 0;
	left: 0;
	@media only screen and (max-width: 1300px) {
		left: -$event-grid-increment * 1;
	}
	@media only screen and (max-width: 880px) {
		left: -$event-grid-increment * 2;
	}
	@media only screen and (max-width: 750px) {
		bottom: -$event-grid-increment * 1;
		left: -$event-grid-increment * 3;
	}
	@media only screen and (max-width: 650px) {
		bottom: -$event-grid-increment * 2;
	}
	@media only screen and (max-width: 324px) {
		display: none;
	}
}

.event-faq-grid-right {
	right: 0;
	bottom: 0;
	@media only screen and (max-width: 1300px) {
		right: -$event-grid-increment;
		bottom: -$event-grid-increment * 3;
	}
	@media only screen and (max-width: 1080px) {
		right: -$event-grid-increment * 2;
	}
	@media only screen and (max-width: 960px) {
		right: -$event-grid-increment;
	}
	@media only screen and (max-width: 880px) {
		right: -$event-grid-increment * 3;
	}
	@media only screen and (max-width: 750px) {
		right: -$event-grid-increment * 4;
		bottom: -$event-grid-increment * 4;
	}
	@media only screen and (max-width: 650px) {
		bottom: -$event-grid-increment * 5;
	}
	@media only screen and (max-width: 324px) {
		display: none;
	}
}

//
// Sponsors
//

.event-sponsors {
	overflow: hidden;
	padding-bottom: 0;
	color: $black;
	text-align: center;
	@media #{$media-mobile-large} {
		padding-top: 15vh;
	}
}

.event-sponsors-introduction {
	margin-bottom: 56px;
}

.event-sponsors-logos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.event-sponsors-presenting-sponsors,
.event-sponsors-founding-sponsors,
.event-sponsors-patron-sponsors {
	display: flex;
	margin-bottom: 24px;

	@media #{$media-tablet-medium} {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}
}

.event-presenting-sponsor {
	@media #{$media-tablet-medium} {
		width: 90%;
	}
}

.event-founding-sponsor {
	max-width: 375px;
}

.event-patron-sponsor {
	max-width: 350px;
}

.event-sponsor {
	path,
	rect {
		transition: fill 200ms ease;
	}

	&--facebook:hover path {
		fill: $sponsor-facebook;
	}
	&--rl-solutions:hover path {
		fill: $sponsor-rl-solutions;
	}
	&--hughes-brannan:hover path {
		fill: $sponsor-hughes-brannan;
	}
	&--veritiv:hover path {
		fill: $sponsor-veritiv;
	}
	&--critical-mass:hover path {
		fill: $sponsor-critical-mass;
	}
	&--saman:hover path,
	&--saman:hover rect {
		fill: $sponsor-saman;
	}
	&--saman:hover .background {
		fill: #f2f2f2;
	}
	&--lassonde path {
		fill: rgb(20,20,20);
	}
	&--lassonde:hover {
		.st0 {
			fill: #010101;
		}
		.st1 {
			fill: #840055;
		}
		.st2 {
			fill: #cd163f;
		}
		.st3 {
			fill: #003660;
		}
		.st4 {
			fill: #33a58e;
		}
		.st5 {
			fill: #fdb714;
		}
	}
}

.event-sponsors-grid-left {
	top: 0;
	left: 0;
	@media only screen and (max-width: 1300px) {
		top: -$event-grid-increment * 3;
	}
	@media only screen and (max-width: 1080px) {
		left: -$event-grid-increment * 2;
	}
	@media only screen and (max-width: 960px) {
		left: -$event-grid-increment;
	}
	@media only screen and (max-width: 880px) {
		top: -$event-grid-increment * 5;
		left: -$event-grid-increment * 2;
	}
	@media only screen and (max-width: 750px) {
		top: -$event-grid-increment * 6;
		left: -$event-grid-increment * 3;
	}
	@media only screen and (max-width: 650px) {
		top: -$event-grid-increment * 7;
		left: -$event-grid-increment * 3;
	}
	@media only screen and (max-width: 324px) {
		top: -$event-grid-increment * 8.5;
		left: $event-grid-increment * 2;
	}
}

.event-sponsors-grid-right {
	top: 0;
	right: 0;
	@media only screen and (max-width: 1300px) {
		right: -$event-grid-increment;
	}
	@media only screen and (max-width: 1080px) {
		right: -$event-grid-increment * 2;
	}
	@media only screen and (max-width: 960px) {
		top: -$event-grid-increment * 3;
		right: -$event-grid-increment;
	}
	@media only screen and (max-width: 880px) {
		top: -$event-grid-increment * 3;
		right: -$event-grid-increment * 3;
	}
	@media only screen and (max-width: 750px) {
		top: -$event-grid-increment * 4;
		right: -$event-grid-increment * 4;
	}
	@media only screen and (max-width: 324px) {
		display: none;
	}
}

//
// Social
//

$media-event-social-a: 401px;

.event-social {
	overflow: hidden;
	color: $black;
	text-align: center;
	@media only screen and (max-width: $media-event-social-a) {
		padding-bottom: 10vh;
	}
}

.event-social-wrapper {
	@include wrapper(1080px);
}

.event-social-introduction {
	margin-bottom: 48px;
}

.event-social-subheader {
	line-height: 1.3;
	a {
		@include underline();
	}
}

.event-social-instagram-feed {
	margin-bottom: 64px;
	@media only screen and (max-width: $media-event-social-a) {
		margin-bottom: 32px;
	}
}

.instagram-feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.instagram-feed-item {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	flex: 0 0 31%;
	margin-bottom: 4%;
	&:hover &-caption {
		opacity: 1.0;
	}

	@media only screen and (max-width: 501px) {
		flex: 0 0 48%;
	}
}

.instagram-feed-item-caption {
	@include fill();
	background: rgba($black, 0.90);
	display: flex;
	overflow: hidden;
	opacity: 0.0;
	pointer-events: none;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	color: $white;
	font-size: 15px;
	line-height: 1.65;
	transition: opacity 200ms ease;

	will-change: opacity;

	@media only screen and (max-width: 501px) {
		background: rgba($black, 0.5);
		overflow: hidden;
		color: rgba(0, 0, 0, 0.0);
	}
}

.event-social-link {
	&--facebook:hover {
		@include underline-hover-color($accent);
	}
	&--twitter:hover {
		@include underline-hover-color($blue);
	}
	&--instagram:hover {
		@include underline-hover-color($red);
	}
}

.event-social-grid-left {
	top: 50%;
	left: 0;

	@media only screen and (max-width: 1280px) {
		left: -$event-grid-increment * 2;
	}
	@media only screen and (max-width: 1080px) {
		display: none;
	}
}

.event-social-grid-right {
	top: 35%;
	right: -$event-grid-increment;

	@media only screen and (max-width: 1345px) {
		right: -$event-grid-increment * 2;
	}

	@media only screen and (max-width: 1280px) {
		right: -$event-grid-increment * 3;
	}

	@media only screen and (max-width: 1080px) {
		display: none;
	}
}

//
// Footer
//

.event-footer {
	overflow: hidden;
	text-align: center;
}

.event-footer-wrapper {
	@include wrapper(600px);
	width: 87%;
	margin-bottom: 80px;
	a {
		@include underline($off-white-faded);
		padding-bottom: 0.1em;
	}
	@media #{$media-mobile-large} {
		margin-bottom: 180px;
	}
}

.event-footer-header {
	@media #{$media-mobile-large} {
		font-size: 26px;
	}
}

.event-footer-subheader {
	line-height: 1.5;
	@media #{$media-mobile-large} {
		font-size: 16px;
	}
}

.event-footer-grid-left {
	top: $event-section-padding;
	left: 0;
	@media only screen and (max-width: 1008px) {
		left: -$event-grid-increment * 2;
	}
	@media only screen and (max-width: 850px) {
		display: none;
	}
}

.event-footer-grid-right {
	top: $event-section-padding;
	right: 0;
	@media only screen and (max-width: 1008px) {
		right: -$event-grid-increment * 2;
	}
	@media only screen and (max-width: 850px) {
		display: none;
	}
}

.event-footer-grid-bottom {
	left: 50%;
	transform: translateX(-50%);
	img,
	svg {
		max-width: none;
	}
	@media #{$media-tablet-medium} {
		bottom: -$event-grid-increment * 1;
	}
	@media #{$media-mobile-large} {
		bottom: 0;
	}
}
