
.event-panel {
	background: $black;
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-left: $ribbon-peek;
	color: $black;
	font-family: $sofia;
	font-size: 16px;
	transition: transform 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000), background 200ms ease-out 400ms;
	transform: translateX(-$ribbon-peek);

	//
	// State (hover, open, etc.)
	//
	&:not(.event-panel--open):hover {
		transform: translateX(-$ribbon-peek - $ribbon-peek-offset);
	}

	&--open {
		transform: translateX(-100%);
		transition: transform 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000), background 200ms ease-out;
		.event-panel-content {
			opacity: 1.0;
		}
		.event-ribbon-arrow {
			transform: rotate(180deg);
			transform-origin: center;
		}
		.event-ribbon-info-details {
			opacity: 0.0;
		}
	}
	// &.blue:hover,
	&--open.blue {
		background: $blue;
	}
	// &.yellow:hover,
	&--open.yellow {
		background: $yellow;
	}
	// &.red:hover,
	&--open.red {
		background: $darkened-red;
		color: #fff;
	}

	//
	// Subcomponents
	//
	&-content {
		position: absolute;
		top: 0;
		right: $ribbon-peek;
		bottom: 0;
		left: $ribbon-peek;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		// max-width: 1200px;
		// margin: 0 auto;
		padding: 42px 20px 0;
		transition: opacity 400ms ease 600ms;
	}
}

.event-ribbon {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: $ribbon-peek;
	height: 100%;
	padding: 0;
	color: $white;
	transition: color 200ms ease-out, transform 200ms ease-out;
	will-change: color, transform;
	// &:hover,
	.event-panel--open & {
		color: $black;
	}
	&-info-details {
		opacity: 0.5;
		transition: opacity 200ms ease-out;
	}
	&-arrow {
		@include icon(44px, 44px);
		font-weight: bold;
		line-height: 40px;
		text-align: center;
		transition: transform 400ms ease;
	}
	&-info {
		position: absolute;
		top: 0;
		width: 400px;
		transform: rotate(90deg);
		transform-origin: 0 100%;
		p {
			display: inline;
			padding: 0 10px;
			line-height: $ribbon-peek;
			&:first-child {
				padding-left: 0;
			}
		}
	}
	&-social-media {
		position: absolute;
		right: 0;
		bottom: 12px;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		height: 150px;
		text-align: center;
	}
	&-social-media-icon {
		padding: 6px;
		font-size: 20px;
		&:hover {
			opacity: 0.6;
		}
	}
	&-bullet {
		position: relative;
		top: -1px;
		font-size: 0.6em;
		padding: 0 1em;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 640px) {
	.event-panel {
		// position: sticky;
		top: 100%;
		left: 0;
		bottom: auto;
		width: 100%;
		height: 100%;
		transform: translateY(-$ribbon-peek);
		&--open {
			transform: translateY(-100%);
			.event-ribbon {
				background: $blue;
				text-align: center;
			}
			.event-ribbon-arrow {
				transform: rotate(-90deg);
			}
		}
		&:not(.event-panel--open):hover {
			transform: translateY(-$ribbon-peek - $ribbon-peek-offset);
		}
	}
	.event-ribbon {
		width: 100%;
		height: $ribbon-peek;
		z-index: 99;
		&-info {
			top: 0;
			display: inline-block;
			transform: rotate(0deg);
		}
		&-headline {
			max-width: 13.5em;
			margin: 0 auto;
			color: #fff;
			font-size: 64px;
			line-height: 1.35;
			letter-spacing: -0.03em;
		}
		&-arrow {
			display: inline-block;
			height: $ribbon-peek;
		}
		&-social-media {
			display: none;
		}
	}
	.event-panel-content {
		padding: $ribbon-peek 0 0;
		left: 0;
		right: 0;
	}
}

.event-intro {
	text-align: center;
	&-headline {
		max-width: 13.5em;
		margin: 0 auto;
		color: #fff;
		font-size: 64px;
		line-height: 1.35;
		letter-spacing: -0.03em;
	}
}
