section.home {
	section {
		padding-bottom: 60px;
	}
	// == Home Grid == //

	$start: 1;
	$end: 12;
	$gridWidth: 1240px;
	$spanPadding: 20px;


	[class*='span-'] {
		float: left;
		padding: 0 $spanPadding;
	}

	// Create grid widths (1-12)
	@for $i from $start through $end {
		.span-#{$i} {
			width: ($gridWidth/$end) * $i;
		}
	}

	.grid-12 {
		max-width: $gridWidth;
		margin: 0 auto;
		.row {
			width: 100%;
			&:after {
				content: '';
				display: table;
				clear: both;
			}
			&:not(:last-child) {
				padding-bottom: 28px;
			}
		}
		.col {
			min-height: 1px;
		}
	}
}

// == Home Post Intro == //

.home-post-intro {
	background-color: #fff;
	@include dot-grid;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 820px;
	background-size: 160px;
	z-index: 99;
	margin: 36px;

	.logo {
		width: 400px;
		background-color: #fff;
		position: absolute;
		top: 320px;
		left: 50%;
		margin-left: -240px;
		height: 200px;
		svg {
			position: absolute;
			top: -20px;
			left: 48px;
			margin-left: 0;
			width: 300px;
			g {fill: #000;}
		}
	}

	// Shapes

	.shape-1 {
		@include shape-square(40px, $orange, 0);
		top: 202.3px;
		margin-left: -616px;
		left: 50%;
	}
	.shape-2 {
		@include shape-triangle(120px, $yellow, 180);
		top: 122.3px;
		left: 121px;
	}
	.shape-3 {
		@include shape-circle(80px, $red);
		top: 42px;
		left: 402px;
	}
	.shape-4 {
		@include shape-triangle(240px, $yellow, 270);
		top: 163.3px;
		left: 1002px;
	}
	.shape-5 {
		@include shape-triangle(120px, $yellow, 270);
		top: 282.3px;
		left: 1122px;
	}
	.shape-6 {
		@include shape-square(114px, $green, 45);
		top: 425.3px;
		left: 224.6px;
	}
	.shape-7 {
		@include shape-rectangle(80px, 160px, $blue, 0);
		top: 482.3px;
		left: 1162px;
	}
	.shape-8 {
		@include shape-triangle(120px, $yellow, 180);
		top: 602.3px;
		margin-left: -55px;
		left: 50%;
	}
	.shape-9 {
		@include shape-square(80px, $orange, 0);
		top: 682.3px;
		margin-left: 225px;
		left: 50%;
	}
	.shape-10 {
		@include shape-rectangle(40px, 80px, $blue, 90);
		top: 662.3px;
		margin-left: -595px;
		left: 50%;
	}
	.shape-11 {
		@include shape-circle(80px, $red);
		top: 602px;
		margin-left: 425px;
		left: 50%;
	}
}

// == Home Nav == //

.home-nav {
	top: 860px;
	@extend .fullwidth-override;
	position: absolute;
	.header {
		position: absolute;
		width: 100%;
	}
}

// == Home Info == //

.home-info {
	margin-top: 900px;
	h2 {
		a {
			display: inline-block;
			padding: 2px 0;
			&:hover {
				color: #ef4862;
			}
			&:hover span {
				background-image: linear-gradient(to right, #ef4862 33%, rgba(255, 255, 255, 0) 0%);
			}
			span {
				background-image: linear-gradient(to right, #141414 33%, rgba(255, 255, 255, 0) 0%);
				background-repeat: repeat-x;
				background-position: bottom;
				background-size: 3px 1px;
				padding: 0 0 2px;
			}
		}
	}
	.feature-text {
		background-color: #fad300;
		margin-top: 200px;
		padding: 32px 28px;
		p {
			margin: 0;
			font-size: 1.1em;
		}
		.button {
			margin-top: 32px;
		}
	}
}

// == Home Work == //

.home-work {
	.row {
		margin-bottom: 48px;
	}
	.col {
	}
	h3 {
		font-size: 2.1em;
		line-height: 1.25em;
	}
	.button {
		margin-top: 48px;
	}
}

.home-work .title {
	position: relative;
	padding-top: 160px;
	.shape-grid {
		position: relative;
		overflow: hidden;
		width: 80px;
		height: 80px;
		@include dot-grid;
		margin-bottom: 20px;
	}
}

// == Home Work Shapes == //

.home-work-comm {
	.shape-1 {
		@include shape-square(26.6px, $yellow, 0);
		top: 0.66px;
		right: 0.66px;
	}
	.shape-2 {
		top: 26.6px;
		left: 0.66px;
		@include shape-circle(53.2px, $red);
		z-index: 2;
	}
	.shape-3 {
		bottom: 0.66px;
		right: 0.66px;
		@include shape-rectangle(80px, 26.6px, $blue, 0);
		z-index: 1;
	}
}

.home-work-phy {
	.shape-1 {
		@include shape-circle(26.6px, $red);
		bottom: 0.66px;
		right: 0.66px;
		z-index: 2;
	}
	.shape-2 {
		bottom: 26.6px;
		left: 0.66px;
		@include shape-rectangle(80px, 26.6px, $green, 0);
		z-index: 1;
	}
	.shape-3 {
		top: 0.66px;
		left: 0.66px;
		@include shape-triangle(53.2px, $yellow, 270);
		z-index: 3;
	}
}

.home-work-info {
	.shape-1 {
		@include shape-square(26.6px, #7CBDDF, 0);
		top: 0.66px;
		left: 0.66px;
	}
	.shape-2 {
		top: 26.6px;
		left: 26.6px;
		@include shape-square(26.6px, #7CBDDF, 0);
		z-index: 2;
	}
	.shape-3 {
		top: 0.66px;
		right: 0.66px;
		@include shape-triangle(80px, #EE4862, 90);
		z-index: 1;
	}
}

.home-work-web {
	.shape-1 {
		@include shape-rectangle(53.2px, 80px, $yellow, 0);
		top: 0.66px;
		left: 0.66px;
	}
	.shape-3 {
		top: 26.6px;
		left: 26.6px;
		@include shape-triangle(53.2px, $blue, 180);
		z-index: 1;
	}
}

// == Home Event == //

.home-event {
	@extend .fullwidth-override;
	background-image: url(/assets/images/home-event-grid.png);
	background-size: auto 640px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	height: 680px;
	h2,p {
		color: white;
	}

	h2 {
		padding-top: 20px;
		width: 600px;
		margin: 0 auto;
		text-align: center;
		font-size: 3.4em;
		padding-bottom: 44px;
	}

	p {
		width: 780px;
		margin: 0 auto;
		text-align: center;
		font-size: 1.2em;
		padding-bottom: 24px;
		line-height: 1.6;
	}

	.wrap {
		padding-top: 200px;
	}
	.bg-span {
		padding: 30px;
		background-color: black;
		margin: 0 auto;
		width:860px;
		height: 260px;
	}

	.button-wrap {
		padding: 30px;
		background-color: black;
		margin: 0 auto;
		width: 240px;
		margin-top: 60px;
	}

	.button {
		background-color: white;
		margin: 0 auto;
		display: block;
		width: 180px;
		color: black;
		border: 1px solid white;
		&:hover {
			background-color: $red;
			color: white !important;
			border: 1px solid $red;
		}
	}
}

// == Home Social == //

.home-social {
	@extend .fullwidth-override;
	background-color: black;
	height: 660px;
	h2 {
		color: white;
		width: 600px;
		margin: 0 auto;
		text-align: center;
		font-size: 1.2em;
		padding-bottom: 44px;
		font-weight: normal;
	}
}

// ======== \/ SORT ME \/ ========== //


.home-introduction {
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	// position: fixed;
	width: 100%;
	height: 100%;
}

.home-introduction-headline {
	color: $white;
	font-size: 19px;
	font-weight: normal;
	line-height: 1.6;
	letter-spacing: -0.01em;
	text-align: center;
}

.home-logo {
	position: relative;
	top: 40%;
	width: 258px;
	margin: 0 auto;
}

.home-introduction-arrow {
	cursor: default;
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	animation: home-introduction-arrow 4s infinite;
	&::before {
		@extend %icon;
		content: $font-ysdn-icons-arrow-down;
		opacity: 0.5;
		color: $white;
		font-size: 2em;
		text-align: center;
		animation: hover 2000ms ease infinite;
	}
}

@keyframes home-introduction-arrow {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(4px);
	}
}

.home-introduction-grid {
	top: 0;
	left: 0;
	border: 12px #000 solid;
	// position: absolute;
	background-image: url(../../assets/images/black-grid.png);
	background-size: 50px;
	width: 100%;
	height: 100%;
}

.home-headline,
.home-subhead {
	color: $white;
}

.home-headline {
	margin-bottom: 18px;
	font-size: 52px;
	font-weight: 500;
}
