
.page-home {
	background: $black;
	color: $white;
}

.home-introduction {
	text-align: center;
}

.home-headline,
.home-subhead {
	color: $white;
}

.home-headline {
	margin-bottom: 18px;
	font-size: 52px;
	font-weight: 500;
}
