@font-face {
	font-family: "Sofia Pro";
	font-weight: 100;
	font-style: normal;
	src: local("Sofia Pro"),
	url("/fonts/2FF32C_3_0.woff2") format("woff2"),
	url("/fonts/2FF32C_3_0.woff") format("woff"),
	url("/fonts/2FF32C_3_0.ttf") format("ttf"),
	url("/fonts/2FF32C_3_0.eot") format("eot");
}
@font-face {
	font-family: "Sofia Pro";
	font-weight: 500;
	font-style: normal;
	src: local("Sofia Pro"),
	url("/fonts/2FF32C_2_0.woff2") format("woff2"),
	url("/fonts/2FF32C_2_0.woff") format("woff"),
	url("/fonts/2FF32C_2_0.ttf") format("ttf"),
	url("/fonts/2FF32C_2_0.eot") format("eot");
}
@font-face {
	font-family: "Sofia Pro";
	font-weight: 100;
	font-style: italic;
	src: local("Sofia Pro"),
	url("/fonts/2FF32C_1_0.woff2") format("woff2"),
	url("/fonts/2FF32C_1_0.woff") format("woff"),
	url("/fonts/2FF32C_1_0.ttf") format("ttf"),
	url("/fonts/2FF32C_1_0.eot") format("eot");
}
@font-face {
	font-family: "Sofia Pro";
	font-weight: 500;
	font-style: italic;
	src: local("Sofia Pro"),
	url("/fonts/2FF32C_0_0.woff2") format("woff2"),
	url("/fonts/2FF32C_0_0.woff") format("woff"),
	url("/fonts/2FF32C_0_0.ttf") format("ttf"),
	url("/fonts/2FF32C_0_0.eot") format("eot");
}
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

html {
}

body {
	margin: 0;
}

#eyepeice {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
}

#background {
	background: -webkit-radial-gradient(rgba(0,0,0,1) 0, rgba(0,0,0,1) 8%, rgba(0,0,0,0) 9%, rgba(0,0,0,0) 100%);
	background:         radial-gradient(rgba(0,0,0,1) 0, rgba(0,0,0,1) 8%, rgba(0,0,0,0) 9%, rgba(0,0,0,0) 100%);
	background-size: 60px 60px;
	box-shadow: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
	-webkit-transform-origin: 50% 50% 0;
	    -ms-transform-origin: 50% 50% 0;
	        transform-origin: 50% 50% 0;
	width: 100%;
	height: 100vh;
	text-overflow: clip;
	-webkit-transition: none;
	        transition: none;

	background-origin: padding-box;
	background-clip: border-box;
	text-shadow: none;
}

body {
	font-size: 16px;
}

.wrapper {
	padding: 70px;
}

#mc_embed_signup {
	padding: 20px;
	padding-top: 10px;
	max-width: 300px;

	background-color: white;
}

#mce-FNAME,
#mce-LNAME,
.input-group,
.subscribe_button,
.company {
	transition: all 0.5s ease;
}

.company {
	height: 50px;
}

.hidden {
	overflow: hidden;
	opacity: 0 !important;
	height: 0 !important;
}

h1,
h2,
li a,
p,
button,
#Email-error,
.text {
	margin: 0;
	color: black;
	font-family: "Sofia Pro", -apple-system, ".SFNSDisplay-Regular", "Segoe UI", "Roboto", sans-serif;
	font-weight: normal;
}

h1,
button {
	font-size: 1.5rem;
}

h2,
#Email-error,
#ButtonSubmit {
	font-size: 1rem;
}

p,
label {
	font-family: "Karla", sans-serif;
	line-height: 1.4rem;
}

li {
	display: inline-block;
	text-decoration: none;

	list-style: none;
}

.input-group {
	margin-top: 10px;
}

.input-group ul {
	margin-top: 10px;
	margin-bottom: 0;
	padding: 0;
}

.input-group ul li {
	margin-right: 2%;
	width: 47%;
}

.input-group ul li label {
	cursor: pointer;
}

.input-group ul li:hover label {
	border-color: transparent;

	background-color: rgba(0, 0, 0, 0.2);
}


a {
	font-size: 1.2rem;
	text-decoration: none;
}

a:hover {
	border-bottom: 2px solid black;
	padding-bottom: 3px;
}

p a {
	color: black;
	font-size: 1rem;
}

.desc {
	margin-top: 40px;
	padding: 20px;
	padding-bottom: 0;
	max-width: 320px;

	background-color: white;
}

#logo {
	padding: 20px;
	width: 200px;

	background-color: white;
}

#Email-error {
	position: absolute;
	display: block;
	margin-top: 2px;
	color: #c84637;
}

input[type=text],
input[type=email],
input[type=submit],
button {
	border: none;
	outline: none;
	overflow: auto;
	margin: 0;
	color: black;
	font-family: "Karla", -apple-system, ".SFNSDisplay-Regular", "Segoe UI", sans-serif;
	font-size: 1rem;

	background-color: transparent;
}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
}

input[type=text],
input[type=email],
input[type=submit] {
	border-bottom: 2px solid black;
	margin: 10px 0;
	width: 100%;
	-webkit-transition: 0.3s ease all;
	   -moz-transition: 0.3s ease all;
	        transition: 0.3s ease all;

	border-bottom-color: rgba(0, 0, 0, 0.2);
}

input[type=submit] {
	border: 2px solid black;
	border-color: rgba(0, 0, 0, 0.2);
	padding: 10px 0;
}

input[type=text]:focus,
input[type=email]:focus {
	border-bottom-color: rgba(0, 0, 0, 1);
}

input[type=radio] {
	display: none;
	margin: 10px;
}

input[type=radio] + label {
	border: 2px solid black;
	border-color: rgba(0, 0, 0, 0.2);
	display: inline-block;
	padding: 6px 0;
	width: 100%;
	text-align: center;
}

input[type=radio]:checked + label {
	background-image: none;

	background-color: #d0d0d0;
}

button {
	position: relative;
	top: 16px;
	display: inline-block;
	float: right;
	opacity: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: 0.2s ease all;
	   -moz-transition: 0.2s ease all;
	        transition: 0.2s ease all;
}

.disabled {
	opacity: 0.5;
	text-decoration: none !important;
	cursor: default;
}

.bottom {
	position: fixed;
	left: 70px;
	bottom: 70px;
	width: calc(100% - 140px);
}

.info {
	display: -webkit-box;
	display:    -moz-box;
	display: -ms-flexbox;
	display:    -moz-flex;
	display: -webkit-flex;
	display:         flex;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	padding: 20px;

	list-style: none;
	-ms-box-orient: horizontal;
	-webkit-justify-content: space-between;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before,
.bar:after {
	background: black;
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	height: 2px;
	-webkit-transition: 0.5s ease all;
	   -moz-transition: 0.5s ease all;
	        transition: 0.5s ease all;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
	width: 100%;
}

.shape {
	border-bottom: 5px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
	transition-delay: 0.1s;

	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 4px;
	fill: transparent;
	stroke: black;
}

.text {
	position: relative;
	top: -28px;
	font-size: 1rem;
}

button:hover svg {
	background: black;
}

button:hover .text {
	color: #a5a5a5;
}

input:focus ~ button .svg-wrapper .shape {
	stroke-width: 4px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
}

.toshort .info li {
	display: block;
	margin: 10px 0;
}

.toshort,
.toshort .info {
	position: static;
	display: block;
	max-width: 300px;

	background-color: white;
}

@media (max-width: 960px) {
	h1 {
		margin-bottom: 55vh;
	}

	li,
	.info {
		display: block;
	}

	li {
		margin: 10px 0;
	}

	a {
		border-bottom: 2px solid black;
		padding-bottom: 2px;
	}

	.bottom {
		position: inherit;
		width: 100%;
	}

	.wrapper {
		padding: 20px;
	}

	input,
	.bar,
	input:focus {
    border-radius: 0;
		padding-left: 0;
		width: 100%;

		-webkit-appearance: none;
		-webkit-border-radius: 0;
	}

	button {
		display: block;
	}

	button,
	.svg-wrapper,
	.shape,
	svg {
		padding: 0;
		width: 100%;
		height: 50px;
	}

	.text {
		top: -38px;
	}

	button svg {
		background: black;
	}

	button .text {
		color: #a5a5a5;
	}

	p:first-of-type {
		margin-top: 80px;
	}

	.input-group p {
		margin-top: 0;
	}

	.input-group ul li {
		width: 100%;
	}
	.mc_embed_signup {
		max-width: 100%;
	}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	button {
		top: 16px;
	}
}
