//
// Navigation
//

.project-nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
	font-family: $sofia;
	font-size: 19px;

	a {
		padding: 0 8px;
		color: $light-gray;
		font-weight: 400;

		&.active,
		&:hover {
			color: black;
		}

		&:first-child {
			padding-left: 0;
		}
	}
	.student-nav-view-search input{
		border: none;
		padding: 0;
		font-size: 19px;
		line-height: 1.6em;
		width: 68px;
		color: black;
		transition: width 0.25s ease;

		&:focus{
			width: 200px;
			&::-webkit-input-placeholder{
			opacity: 0.3;
		}
		}
		&::-webkit-input-placeholder{
			color: black;
			opacity: 1;
			transition: opacity 0.25s ease;
		}
	}

}

//
// Category Header
//

.project-category-intro {
	@include dot-grid;
	background-color: #fff;
	background-size: 160px;
	position: relative;
	width: 101%;
	height: 420px;
	margin-bottom: 20px;
	margin-left: -0.5%;

	&-title {
		color: $black;
		font-size: 64px;
		position: absolute;
		bottom: 80px;
		left: 60px;
		background-color: $white;
		padding: 20px 20px;
	}
	.shapes.all{
		.shape-1 {
			@include shape-circle(120px, $blue);
			top: 122px;
			left: 644px;
			margin-left: -2px;
		}
		.shape-2 {
			@include shape-square(120px, $yellow, 0);
			top: 122.3px;
			left: 121px;
		}
		.shape-3 {
			@include shape-triangle(240px, $red, 180);
			top: 122px;
			left: 362px;
		}
		.shape-4 {
			@include shape-triangle(240px, $green, 270);
			top: 42px;
			left: 802px;
		}
		.shape-5 {
			@include shape-circle(120px, $red);
			top: 202px;
			left: 962px;
		}
		.shape-6 {
			@include shape-rectangle(120px, 160px, $orange, 0);
			top: 42px;
			left: 42px;
		}
	}
	.shapes.physical{
		.shape-1 {
			@include shape-triangle(240px, $yellow, 270);
		}
		.shape-2 {
			@include shape-rectangle(280px, 120px, $green, 0);
		}
		.shape-3 {
			@include shape-circle(120px, $green);
		}
	}
	.shapes.communication{
		.shape-1 {
			@include shape-rectangle(360px, 120px, $blue, 0);
			top: 242.3px;
			left: 40%;
			margin-left: -2px;
		}
		.shape-2 {
			@include shape-square(120px, $yellow, 0);
			top: 122.3px;
			left: 121px;
		}
		.shape-3 {
			@include shape-circle(240px, $red);
			top: 42px;
			left: 364px;
		}
		.shape-4 {
			@include shape-square(240px, $yellow, 0);
			top: 42px;
			left: 802px;
		}
		.shape-5 {
			@include shape-circle(120px, $red);
			top: 202px;
			left: 962px;
		}
	}
	.shapes.information{
		.shape-1 {
			@include shape-square(120px, $blue, 0);
		}
		.shape-2 {
			@include shape-square(120px, $blue, 0);
		}
		.shape-3 {
			@include shape-triangle(240px, $red, 90);
		}
	}
	.shapes.interactive{
		.shape-1 {
			@include shape-rectangle(120px, 280px, $yellow, 0);
		}
		.shape-2 {
			@include shape-triangle(140px, $blue, 180);
		}
	}
}

.project-nav-categories {
	display: flex;
}

.project-nav-category {
	margin-right: 1em;
}

//
// Project Grid
//

.project-grid {
	@include clearfix;
	.column {
		width: 30%;
		margin-right: 5%;
	}
	.column:nth-child(3n) {
		margin-right: 0;
	}
	@media only screen and (max-width: 800px) {
		.column {
			width: 46%;
			margin-right: 8%;
		}
		.column:nth-child(3n) {
			margin-right: 8%;
		}
		.column:nth-child(2n) {
			margin-right: 0;
		}
	}
}

.project-preview {
	display: block;
	margin-bottom: 50px;
}

.project-preview-image {
	@include image-placeholder;
	display: block;
	transition: opacity 300ms ease;
	.project-preview.hover & {
		opacity: 0.6;
	}
}

.project-preview-details {
	margin-top: 14px;
	font-family: $sofia;
}

.project-preview-title {
	display: block;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.3;
	transition: opacity 300ms ease;
	.project-preview.hover & {
		opacity: 0.6;
	}
}

.project-preview-student {
	display: block;
	margin-top: 6px;
	color: #888;
	font-size: 15px;
	line-height: 1.0;
	transition: opacity 300ms ease;
	&:hover {
		opacity: 0.6;
	}
}
