
//
// Structure
//

$sticky-scroll-offset: 60px;

.project-body {
	position: relative;
	display: flex;
	margin: 0 -$project-grid-gutter/2;
}

.project-sidebar-filler {
	position: relative;
	flex: 0 1 33.334%;
	padding: 0 $project-grid-gutter/2;
}

.project-sidebar {
	position: absolute;
	padding-right: 60px;
	&.pinned {
		position: fixed;
		top: $sticky-scroll-offset;
	}
	&.bottom {
		position: absolute;
		top: auto;
		bottom: 0;
	}
}

.project-content {
	flex: 1 0 66.666%;
	padding: 0 $project-grid-gutter/2;

	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 1080px) {
	.project-sidebar-filler {
		flex-basis: 40%;
	}
	.project-content {
		flex-basis: 60%;
	}
}

//
// Project Header
//

.project-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;

	will-change: opacity, transform;
}

.project-header-title {
	display: block;
	margin-bottom: 24px;
	font-size: 36px;
	font-weight: bold;
	line-height: 43px;
	&--large {
		margin-top: 4px;
		font-size: 48px;
		letter-spacing: -0.02em;
	}
}

.project-header-category {
	@include project-category;
	margin-bottom: 16px;
}

.project-introduction {
	@include image-placeholder;
	margin-bottom: 60px;
}

//
// Project Owner
//

.project-owner {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	line-height: 1.0;
	&:hover {
		opacity: 0.7;
	}
}

.project-owner-name {
	display: block;
	margin-bottom: 3px;
	font-size: 18px;
	line-height: 2.4;
}

.project-owner-introduction {
	display: block;
	max-width: 300px;
	margin-top: 16px;
	margin-bottom: 3px;
	color: #aaa;
	font-size: 15px;
	line-height: 1.4;
	width: 100%;
}

.project-owner-image {
	@include avatar;
	max-width: 40px;
	margin-right: 12px;
	margin-left: -2px;
}

//
// Project Sidebar
//

.project-sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.project-sidebar-headers-link {
	// display: block;
	margin-bottom: 8px;
	color: #aaa;
	font-size: 20px;
	line-height: 26px;
	transition: color 0.25s ease;
	&:hover,
	&.active {
		color: $black;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

//
// Project Content
//

.project-content,
.project-markdown {
	figure,
	iframe {
		width: 100%;
	}

	p, h1, h2, h3, h4, h5, h6, ul, ol {
		width: 90%;
		max-width: 600px;
		margin-bottom: 15px;
		font-size: 18px;
	}

	figure {
		@include image-placeholder;
		margin: 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 40px;
	}

	h1, h2 {
		font-size: 36px;
		line-height: 48px;
	}

	h3, h4, h5, h6 {
		font-size: 26px;
		line-height: 36px;
	}

	ul,
	ol {
		margin: 0;
		padding: 0 0 0 1.5em;
	}

	li {
		margin-bottom: 6px;
		line-height: 1.4;
	}

	a {
		@include underline($black);
		&:hover {
			opacity: 0.5;
		}
	}

	blockquote {
		border-left: 4px #e2e2e2 solid;
		margin: 1em 0;
		padding-left: 16px;
		color: #666;
		font-size: 0.9;
		font-weight: 400;
		font-style: italic;
	}

	.btn-primary, .button {
		border: 1px solid black;
		background-color: black;
		background-image: none;
		padding: 14px 20px 14px 20px;
		color: $white;

		&:hover {
			background-color: $red;
			opacity: 1.0;
			border-color: $red;
		}

		.caption {
			font-size: 0.86em;
			line-height: 1.5;
			color: #aaa;
			margin-top: -18px;
			padding-bottom: 12px;
		}
	}

	.contributors {
		margin-top: 1.5em;
	}

	.contributors br {
		display: none;
	}

	.contributor-name {
		display: block;
		line-height: 26px;
	}

	.contributor-role {
		display: block;
		margin-top: 12px;
		color: grey;
		font-size: 14px;
		line-height: 16px;
	}

	.contributor-name + .contributor-role {
		margin-top: 12px;
	}

	code {
		font-family: Menlo, Monaco, monospace;
		font-size: 13px;
	}

	:not(pre) > code {
		border: 1px solid #f2f2f2;
		background: #f9f9f9;
	}

	pre {
		border: 1px solid #f2f2f2;
		border-radius: 3px;
		background-color: #f9f9f9;
		max-width: 600px;
		padding: 14px 16px;
		font-size: 14px;
		line-height: 18px;
	}
}


//
// Standard Projects
//

.project--standard {
	position: relative;

	.project-header {
		margin-bottom: 0;
	}

	.project-header-title {
		margin: 0 0 4px;
		font-size: 36px;
	}
}

//
// Case Studies
//

.project--case-study {
	.project-header {
		align-items: center;
		margin-bottom: 60px;
	}

	.case-content {
		display: flex;
		width: 100%;
		max-width: 1160px;
	}
}

.project-callout {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 32px;
	padding-bottom: 32px;
	line-height: 1.2;

	&-title {
		font-size: 17px;
		font-weight: bold;
	}

	&-name {
		color: #aaa;
		font-size: 15px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		background: #f2f2f2;
		display: block;
		width: 75%;
		height: 1px;
	}

	&:hover {
		opacity: 0.7;
	}

	.project-sidebar-headers-link + & {
		margin-top: 32px;
	}
}

/**
 * Sticky Sections
 */

.sticktop {
	position: fixed !important;
	top: 0 !important;
	bottom: auto !important;
}
.stickbottom {
	position: fixed !important;
	top: auto !important;
	bottom: 0 !important;
}

.stickbottomwindow {
	position: absolute !important;
	top: auto !important;
	bottom: 0 !important;
}

.sticktopwindow {
	position: absolute !important;
	top: 0 !important;
	bottom: auto !important;
}

@media only screen and (max-width : 740px) {
	.case-nav, .case-nav-holder {
		display: none;
	}
	.project-content, .project-details, .project-assets {
		padding-right: 0 !important;
	}
	.project--case-study .project-header .title {
		padding: 40px 20px 68px;
	}
	#project-fixed-overlay, #gallery {
		display: block !important;
		flex-direction: column;
	}
	.stickbottomwindow, .sticktopwindow, .stickbottom, .sticktop {
		position: static !important;
		display: block;
	}
}
