
//
// Structure
//

$sticky-scroll-offset: 60px;

.project-body {
	display: flex;
	position: relative;
}

.project-sidebar-filler {
	position: relative;
	flex: 0 1 36%;
}

.project-sidebar {
	padding-right: 60px;
	&.pinned {
		position: fixed;
		top: $sticky-scroll-offset;
	}
	&.bottom {
		position: absolute;
		top: auto;
		bottom: 0;
	}
}

.project-content {
	flex: 1 0 64%;

	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 1080px) {

	.project-sidebar-filler {
		flex-basis: 40%;
	}
	.project-content {
		flex-basis: 60%;
	}
}

//
// Project Header
//

.project-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}

.project-header-title {
	display: block;
	font-size: 36px;
	font-weight: bold;
	line-height: 43px;
	&--large {
		margin-top: 4px;
		font-size: 48px;
		letter-spacing: -0.02em;
	}
}

.project-introduction {
	@include image-placeholder;
	margin-bottom: 60px;
}

//
// Project Owner
//

.project-owner {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	line-height: 1.0;
}

.project-owner-name {
	display: block;
	margin-bottom: 3px;
	font-size: 16px;
	line-height: 1.0;
}

.project-owner-category {
	color: #aaa;
	font-size: 14px;

}

.project-owner-image {
	@include avatar;
	max-width: 48px;
	margin-right: 12px;
}

//
// Project Sidebar
//

.project-sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.project-sidebar-headers-link {
	// display: block;
	margin-bottom: 8px;
	color: #aaa;
	font-size: 20px;
	line-height: 26px;
	&:hover,
	&.active {
		color: $black;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

//
// Project Content
//

.project-content,
.project-markdown {

	figure,
	iframe {
		width: 100%;
	}

	p, h1, h2, h3, h4, h5, h6, ul, ol {
		width: 90%;
		max-width: 600px;
		margin-bottom: 15px;
		font-size: 18px;
	}

	figure {
		@include image-placeholder;
		margin: 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 40px;

		&:first-child {
			margin-top: 16px;
		}
	}

	h1, h2 {
		font-size: 36px;
		line-height: 48px;
	}

	h3, h4, h5, h6 {
		font-size: 26px;
		line-height: 36px;
	}

	ul,
	ol {
		margin: 0;
		padding: 0 0 0 1.5em;
	}

	li {
		margin-bottom: 6px;
		line-height: 1.4;
	}

	a {
		@include underline($black);
		&:hover {
			opacity: 0.5;
		}
	}

	blockquote {
		border-left: 4px #e2e2e2 solid;
		margin: 1em 0;
		padding-left: 16px;
		color: #666;
		font-size: 0.9;
		font-weight: 400;
		font-style: italic;
	}

	.btn-primary, .button {
		border: none;
		background-color: $red;
		background-image: none;
		padding: 14px 20px 14px 20px;
		color: $white;

		&:hover {
			background-color: #ececec;
			color: $black !important;
			opacity: 1.0;
		}
	}

	.contributors {
		margin-top: 1.5em;
	}

	.contributors br {
		display: none;
	}

	.contributor-name {
		display: block;
		line-height: 26px;
	}

	.contributor-role {
		display: block;
		margin-top: 12px;
		color: grey;
		font-size: 14px;
		line-height: 16px;
	}

	.contributor-name + .contributor-role {
		margin-top: 12px;
	}

	code {
		font-family: Menlo, Monaco, monospace;
		font-size: 13px;
	}

	:not(pre) > code {
		border: 1px solid #f2f2f2;
		background: #f9f9f9;
	}

	pre {
		border: 1px solid #f2f2f2;
		border-radius: 3px;
		background-color: #f9f9f9;
		max-width: 600px;
		padding: 14px 16px;
		font-size: 14px;
		line-height: 18px;
	}
}


//
// Standard Projects
//

.project--standard {
	position: relative;
	min-height: 600px;

	.project-header {
		margin-bottom: 24px;
	}

	.project-header-title {
		margin: 0 0 14px;
		font-size: 36px;
	}

	.project-owner {
		margin: 12px 0 0 -2px;
	}
}

//
// Case Studies
//

.project--case-study {

	.project-header {
		align-items: center;
		margin-bottom: 60px;
	}

	.case-content {
		display: flex;
		width: 100%;
		max-width: 1160px;
	}

	#content {
		position: relative;
		background-color: $white;
	}

	.case-nav, .case-nav-holder {
		flex: 1 0 32.333%;
		padding-top: 80px;
		padding-right: $project-grid-gutter / 2;

		a {
			cursor: pointer;
			display: block;
			padding-top: 4px;
			padding-bottom: 4px;
			color: #d1d1d1;
			font-size: 21px;
			font-weight: 500;
			line-height: 28px;
			transition: color 200ms ease;
			&:hover {
				color: #444;
			}
		}

		.active {
			top: 0;
			color: $black;
		}

		#introduction {
			border-top: 1px rgba(0,0,0,0.2) solid;
			border-bottom: 1px rgba(0,0,0,0.2) solid;
			width: 100% ;
			margin-top: 20px;
			padding-bottom: 20px;
			max-width: 340px;
			p, a {
				font-size: 16px;
				line-height: 25px;
				letter-spacing: 0.15px;
			}
			a {
				border-bottom: 1px solid black;
				display: inline-block;
				padding: 0;
				padding-bottom: 2px;
				color: black;
			}
			p:first-of-type {
				font-weight: bold;
				line-height: 16px;
				letter-spacing: 0.2px;
			}
			.text {
				display: inline-block;
				width: calc(100% - 105px);
			}
			img {
				position: absolute;
				bottom: 1px;
				display: inline-block;
				width: 100px;
			}
		}
	}

	.case-nav {
		pointer-events: auto;
	}

	#indicator {
		position: absolute;
		background: $black;
		width: 4px;
		height: 28px;
		margin: 4px 0;
		margin-left: -14px;
		list-style-type: none;
		transition: top 0.25s ease, height 0.25s ease;
	}
}

/**
 * Sticky Sections
 */

.sticktop {
	position: fixed !important;
	top: 0 !important;
	bottom: auto !important;
}
.stickbottom {
	position: fixed !important;
	top: auto !important;
	bottom: 0 !important;
}

.stickbottomwindow {
	position: absolute !important;
	top: auto !important;
	bottom: 0 !important;
}

.sticktopwindow {
	position: absolute !important;
	top: 0 !important;
	bottom: auto !important;
}

@media only screen and (max-width : 740px) {
	.case-nav, .case-nav-holder {
		display: none;
	}
	.project-content, .project-details, .project-assets {
		padding-right: 0 !important;
	}
	.project--case-study .project-header .title {
		padding: 40px 20px 68px;
	}
	#project-fixed-overlay, #gallery {
		flex-direction: column;
		display: block !important;
	}
	.stickbottomwindow, .sticktopwindow, .stickbottom, .sticktop {
		position: static !important;
		display: block;
	}
}
