
.student-search {
	text-align: center;
	margin-bottom: 64px;
}

.student-search-input {
	border: none;
	font-size: 24px;
	text-align: center;
}

.student-grid {
	display: flex;
	flex-wrap: wrap;
}

.student-grid-intermission {
	display: flex;
	flex: 0 1 50%;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
	font-weight: 600;
}

.student-grid-shape {
	display: flex;
	flex: 0 1 22%;
	align-items: center;
	justify-content: center;
	margin-right: 1.5%;
	margin-bottom: 3.5rem;
	margin-left: 1.5%;
}

.student-preview {
	display: block;
	flex-basis: 22%;
	margin-right: 1.5%;
	margin-bottom: 3rem;
	margin-left: 1.5%;
}

.student-preview-image {
	position: relative;
	background: #f6f6f6;
	overflow: hidden;
	height: 0;
	padding-top: 100%;
	img {
		position: absolute;
		top: 0;
		left: 0;
		max-width: none;
		height: 100%;
		animation: rewind 400ms steps(4) forwards;
	}
	.student-preview:hover & {
		img {
			animation: play 400ms steps(4) forwards;
		}
	}
}

.student-preview-name {
	margin-top: 12px;
	font-family: $sofia;
	font-size: 19px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
}
