.student-profile {
	width: 92%;
	margin: 0 auto;

	.row {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		min-height: 1px;
	}

	.col {
		flex: 1;
		flex-direction: column;
		&.fifty {
			width: 50%;
		}
	}
}

.student-header {
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,.2);
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 440px;
	height: 60vh;
	padding-left: 8px;

	h1 {
		position: relative;
		left: -3px;
		width: 100%;
		margin-top: 130px;
		margin-bottom: 8px;
		font-size: 3em;
	}

	.student-meta {
		position: relative;
		z-index: 9;
	}

	.student-categories {
		margin-bottom: 60px;
		font-family: $sofia;
		font-size: .85em;
		letter-spacing: .06em;
		a {
			font-size: .85em;
			letter-spacing: .06em;
			text-transform: uppercase;
			&:not(:last-child)::after {
				content: ', ';
			}
		}
	}

	.student-social {
		position: absolute;
		bottom: 26px;
		a {
			padding: 2px 7px;
			font-family: $sofia;
			font-size: 16px;
			&:first-child {
				padding-left: 0;
			}
		}
		span {
			@include dotted-border($black, 'bottom');
			padding: 0 0 2px;
		}
		&-url:hover {
			color: $red;
		}
		&-url:hover span {
			@include dotted-border($red);
		}
		&-facebook:hover {
			color: $blue;
		}
		&-facebook:hover span {
			@include dotted-border($blue);
		}
		&-instagram:hover {
			color: $green;
		}
		&-instagram:hover span {
			@include dotted-border($green);
		}
		&-linkedin:hover {
			color: $yellow;
		}
		&-linkedin:hover span {
			@include dotted-border($yellow);
		}
		&-github:hover {
			color: $orange;
		}
		&-github:hover span {
			@include dotted-border($orange);
		}
	}
}

.student-image {
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: 0;
}

.student-body {
	margin: 40px 0;
	.student-info {
		flex-grow: 1;
	}
	.student-work-list {
		flex-grow: 2;
	}
	.student-project {
		.meta {
			margin: 24px 0;
		}
	}
}
