.student-profile {
	margin: 0 auto;
	.row {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		min-height: 1px;
	}
	.col {
		flex: 1;
		flex-direction: column;
	}
}

.student-header {
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 360px;
	padding-left: 8px;
	h1 {
		position: relative;
		left: -3px;
		width: 100%;
		margin-top: 60px;
		margin-bottom: 6px;
		font-size: 3em;
	}
	.student-meta {
		position: relative;
		z-index: 9;
		width: 60%;
	}
	.student-categories {
		margin-bottom: 60px;
		color: #aaa;
		font-family: $sofia;
		font-size: 0.9em;
		letter-spacing: 0.06em;
		a {
			font-size: 0.85em;
			letter-spacing: 0.06em;
			text-transform: uppercase;
			&:not(:last-child)::after {
				content: ', ';
			}
		}
	}
	.student-social {
		margin-top: 6px;
		// position: absolute;
		// bottom: 26px;
		a {
			padding: 2px 7px;
			font-family: $sofia;
			font-size: 16px;
			&:first-child {
				padding-left: 0;
			}
		}
		span {
			@include dotted-border($black, 'bottom');
			padding: 0 0 2px;
		}
		&-url:hover {
			color: $red;
		}
		&-url:hover span {
			@include dotted-border($red);
		}
		&-facebook:hover {
			color: $blue;
		}
		&-facebook:hover span {
			@include dotted-border($blue);
		}
		&-instagram:hover {
			color: $green;
		}
		&-instagram:hover span {
			@include dotted-border($green);
		}
		&-linkedin:hover {
			color: $yellow;
		}
		&-linkedin:hover span {
			@include dotted-border($yellow);
		}
		&-github:hover {
			color: $orange;
		}
		&-github:hover span {
			@include dotted-border($orange);
		}
	}
}

.student-image {
	position: absolute;
	z-index: -1;
	right: 120px;
	bottom: 0;
	width: 450px;
	height: 450px;
}

.profile-shapes {
	position: absolute;
	z-index: 9;
	right: 100px;
	bottom: 30px;
	width: 440px;
}

.group:after {
	content: '';
	display: table;
	clear: both;
}

.student-body {
	@extend .group;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	margin-top: 40px;
	.student-info {
		float: left;
		width: 36%;
	}
	.student-work-list {
		float: left;
		width: 64%;
	}
	.student-project {
		float: left;
		transition: opacity 0.2s ease;
		img {
			backface-visibility: hidden;
		}
		&:hover img {
			opacity: 0.7;
			transition: opacity 0.2s ease;
		}
		.meta {
			@extend .group;
			margin: 24px 0 40px 0;
			.cat {
				margin-top: 6px;
				margin-bottom: 4px;
				color: #aaa;
				font-family: $sofia;
				font-size: 0.75em;
				letter-spacing: 0.06em;
				text-transform: uppercase;
			}
		}
		&.case-study {
			width: 100%;
			.info {
				float: left;
				// width: 100%;
				width: 24%;
				margin-right: 6%;
			}
			.desc {
				float: left;
				width: 70%;
				p {
					max-width: 100%;
					margin: 0;
					// color: #777;
				}
			}
			& > div {
				float: left;
				width: 50%;
			}
			&:first-child {
				&::before {
					content: 'CASE STUDY';
				}
			}
		}
		&.standard {
			&:nth-of-type(1) {
				width: 47%;
				margin-right: 6%;
				&::before {
					content: 'Project';
				}
			}
			&:nth-of-type(2) {
				width: 47%;
				&::before {
					content: '\2063'; /* Don't remove this! It's an invisible space that aligns the height of the two second projects */
				}
			}

			&:nth-of-type(3) {
				width: 47%;
				margin-right: 6%;
			}

			&:nth-of-type(4) {
				width: 47%;
			}
		}
		&::before {
			display: block;
			margin-bottom: 16px;
			font-size: 0.8em;
			font-weight: bold;
			line-height: 1.4em;
			letter-spacing: 0.06em;
			text-transform: uppercase;
		}
	}
	h4 {
		font-weight: normal;
		font-size: 1.1em;
		line-height: 1.4em;
	}
	h5 {
		margin-bottom: 0;
		font-size: 0.9em;
		font-weight: bold;
		line-height: 1.2em;
		// letter-spacing: 0.06em;
		// text-transform: uppercase;
		&:not(:first-child) {
			margin-top: 40px;
		}
	}
	p {
		max-width: 72%;
		font-size: 0.9em;
		line-height: 1.6em;
	}
	a {
		@include dotted-border(currentColor, bottom);
	}
	.student-introduction {
		max-width: 72%;
		margin-bottom: 2rem;
		font-size: 1.32em;
		font-weight: bold;
		line-height: 1.5;
	}
	ul {
		padding-left: 20px;
	}
	li {
		max-width: 75%;
		padding-bottom: 8px;
		color: #888;
		// list-style: none;
		font-size: 0.94em;
		line-height: 1.5;
	}
	.text-light {
		// color: #777;
		font-size: 0.9em;
	}
}