
.student-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin-bottom: 48px;
	font-family: $sofia;
	font-size: 19px;
	a {
		display: inline-block;
		padding: 0 8px;
		color: $light-gray;
		font-weight: 400;
		&.active,
		&:hover {
			color: black;
		}
		&:first-child {
			padding-left: 0;
		}
	}
	.divider {
		display: inline-block;
		min-width: 1px;
		height: 24px;
		margin-right: 8px;
		padding-left: 8px;
	}
	span {
		i {
			color: black;
		}
	}
	i {
		font-size: .7em;
	}
}

.student-nav-view {
	display: flex;
	align-items: center;
	i {
		color: lighten(black, 70%);
		font-size: 16px;
		&.active {
			color: black;
		}
		&:hover:not(.active) {
			color: lighten(black, 55%);
		}
	}
	&-selector {
		margin-right: 12px;
	}
}

.student-nav-view-search {
	position: relative;
	&-icon {
		position: absolute;
		top: 50%;
		right: 0;
		// NOTE: 40% instead of 50% for visual centering
		transform: translateY(-50%);
	}
	&-value {
		position: fixed;
		top: 0; left: 0;
		opacity: .0;
		pointer-events: none;
	}
	&-input {
		border: none;
		width: 90px;
		padding-right: 28px;
		font-family: $sofia;
	}
}

.student-list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	@media screen and (max-width: 640px) {
		.student-list-category {
			display: none;
		}
	}
	.row:not(.header-row) {
		// Make sure header row doesn't get hover effect ^
		display: flex;
		flex-flow: row nowrap;
		height: 60px;
		line-height: 60px;
		&::before {
			content: ' ';
			position: absolute;
			z-index: 0;
			left: 0;
			width: 100%;
			height: 60px;
		}
		&:hover {
			&::before {
				background-color: #ffeea4;
			}
		}
	}
	.col {
		position: relative;
		z-index: 1;
		overflow: hidden;
		flex: 1;
		flex-direction: column;
		margin-right: 24px;
		font-family: $sofia;
		font-size: 20px;
		font-weight: 500;
		text-overflow: ellipses;
		white-space: nowrap;
	}
	.student-list-student {
		flex: 2;
	}
	.student-list-category {
		flex: 3;
	}
}

.student-list-header {
	margin-bottom: 12px;
	.col {
		font-size: 12px;
		letter-spacing: .08em;
		text-transform: uppercase;
		i {
			font-size: .9em;
		}
	}
}

.student-list-row {
	cursor: pointer;
	display: block;
}

.student-list-category {
	a {
		padding: 10px 2px 10px 0;
		&:hover {
			opacity: .5;
		}
	}
}

.student-list-social {
	a {
		margin-left: -8px;
		padding: 8px;
		&:hover {
			opacity: .5;
		}
	}
	@media screen and (max-width: 1000px) {
		display: none;
	}
}

.student-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.student-preview {
	display: block;
	flex-basis: 22.75%;
	margin-right: 3%;
	margin-bottom: 3rem;
	&:nth-child(4n) {
		margin-right: 0;
	}
}

.student-preview-name {
	margin-top: 12px;
	font-family: $sofia;
	font-size: 19px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
}
