
.student-grid {
	display: flex;

	justify-content: space-between;
	flex-wrap: wrap;
}

.student-preview {
	display: block;
	margin-bottom: 2rem;
}

.student-preview-name {
	font-family: $sofia;
	font-size: 14px;
	font-weight: bold;
}
