$project-grid-gutter: 60px;

/**
 * Typography
 */

/**
 * Navigation
 */

.project-nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
	font-family: $sofia;
	font-size: 19px;

	a {
		padding: 0 8px;
		color: $light-gray;
		font-weight: 400;

		&.active,
		&:hover {
			color: black;
		}

		&:first-child {
			padding-left: 0;
		}
	}
}

/**
 * Category Header
 */

.project-category-intro {
	background: $black;
	margin-bottom: 48px;
	padding: 48px;
	font-family: $sofia;

	&-title {
		color: $white;
	}

	&-description {
		color: $white;
	}
}

/**
 * Project Previews
 */

.project-grid {
	column-count: 3;
	column-gap: $project-grid-gutter;
	// HACK: -webkit-perspective fixes bugs for chrome
	-webkit-perspective: 1;
}

.project-preview {
	@extend %avoid-column-break;
	display: block;
	// NB: 40px is the approximate height of the project labels
	padding-bottom: $project-grid-gutter - 25px;
}

.project-preview-image {
	@include image-placeholder;
}

.project-preview-details {
	margin-top: 14px;
	font-family: $sofia;
}

.project-preview-title {
	font-size: 19px;
	font-weight: bold;
	line-height: 1.2;
}

.project-preview-student {
	color: #888;
	font-size: 15px;
}

/**
 * Project/Case Study Global
 */

.project-header {

	h2 {
		font-size: 48px;
		line-height: 54px;
	}
	h3 {
		font-size: 21px;
		line-height: 24px;

		.light {
			font-weight: normal;
		}
	}
	h4 {
		margin-bottom: 10px;
		color: #aaa;
	}
	a {
		border-bottom: 2px currentColor solid;
		padding-bottom: 2px;

		&:hover {
			border-bottom: none;
		}
	}

	.project-title {
		font-size: 60px;
		line-height: 64px;
		font-weight: bold;
		display: block;
		margin-bottom: 12px;
	}
	.project-owner {
		font-size: 21px;
		line-height: 24px;
		font-weight: bold;
		display: block;
		margin-bottom: 16px;
	}
	.project-category {
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		opacity: 0.5;
		display: block;
	}
}

.project-content {
	p, h1, h2, h3, h4, h5, h6, ul, ol {
		max-width: 600px;
		margin-bottom: 15px;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 40px;

		&:first-child {
			margin-top: 16px;
		}
	}

	h1, h2 {
		font-size: 36px;
		line-height: 48px;
	}

	h3, h4, h5, h6 {
		font-size: 26px;
		line-height: 36px;
	}

	li ul {
		margin: 0;
		padding: 0 14px;
	}

	img {
		margin: 25px 0;
	}

	a {
		border-bottom: 2px currentColor solid;
		padding-bottom: 2px;

		&:hover {
			border-bottom: none;
		}
	}

	blockquote {
		border-left: 4px #ccc solid;
		margin-left: 0;
		padding-left: 16px;
	}

	.btn-primary, .button {
		border: 1px solid #000;
		background-color: $black;
		background-image: none !important;
		padding: 10px 20px 10px 20px;
		color: $white;

		&:hover {
			background-color: #ececec;
			color: $black !important;
		}
	}

	.contributor-name {
		display: block;
		line-height: 26px;
	}

	.contributor-role {
		display: block;
		margin-top: 12px;
		color: grey;
		font-size: 14px;
		line-height: 16px;
	}

	//Markdown Example Page
	code {
		font-family: Menlo, Monaco, monospace;
		font-size: 13px;
	}

	:not(pre) > code {
		border: 1px solid #f2f2f2;
		background: #f9f9f9;
	}

	pre {
		border: 1px solid #f2f2f2;
		border-radius: 3px;
		background-color: #f9f9f9;
		max-width: 600px;
		padding: 14px 16px;
		font-size: 14px;
		line-height: 18px;
	}
}

#project-fixed-overlay {
	pointer-events: none;
	width: 100%;
}

/**
 * Full-view Projects
 */

/**
 * Standard Projects
 */
.project--standard {
	position: relative;
	min-height: 600px;
	
	#project-fixed-overlay, #gallery {
		display: flex;
		width: 100%;
		max-width: 1160px;
	}
	
	.project-assets {
			pointer-events: none;
		}

	.project-details {
		pointer-events: auto;
		flex: 1 0 41.667%;
		padding-right: 40px;

		.project-header {
			margin: 60px 0;
		}

		footer {
			margin-bottom: 60px;
		}
	}

	.project-assets {
		flex: 1 0 58.333%;

		img {
			margin: 10px 0;
		}
	}
}

/**
 * Case Study Projects
 */

.project--case-study {
	.case-content {
		display: flex;
		width: 100%;
		max-width: 1160px;
	}

	.project-header {
		overflow: hidden;
		min-height: 200px;
		text-align: center;

		h1, h3, h4 {
			max-width: 1160px;
			margin-right: auto;
			margin-bottom: 20px;
			margin-left: auto;
			text-align: center;
		}

		.title {
			position: fixed;
			right: 0;
			left: 0;
			width: 100%;
			margin: 0 auto;
			margin-right: auto;
			margin-left: auto;
			padding-right: $ribbon-peek;
		}

		img {
			position: relative;
			background-color: white;
			margin-top: 220px;
			margin-bottom: 0;
		}
	}

	.project-content, .project-content-holder {
		flex: 1 0 75%;
		padding-top: 60px;
	}

	#content {
		position: relative;
		background-color: $white;
	}

	.case-nav, .case-nav-holder {
		flex: 1 0 25%;
		padding-top: 80px;
		padding-right: $project-grid-gutter / 2;

		a {
			display: block;
			padding-top: 4px;
			padding-bottom: 4px;
			padding-left: 14px;
			color: #d1d1d1;
			font-size: 21px;
			font-weight: 500;
			line-height: 28px;
			transition: color 200ms ease;
			&:hover {
				color: #444;
			}
		}

		.active {
			top: 0;
			color: $black;
		}
	}

	.case-nav {
		pointer-events: auto;
	}

	#indicator {
		position: absolute;
		background: $black;
		width: 4px;
		height: 28px;
		margin: 4px 0;
		list-style-type: none;
		transition: top 0.25s ease, height 0.25s ease;
	}
}

/**
 * Sticky Sections
 */
.stickbottom {
	position: fixed !important;
	top: auto !important;
	bottom: 0 !important;
}

.sticktop {
	position: fixed !important;
	top: 0 !important;
	bottom: auto !important;
}

.stickbottomwindow {
	position: absolute !important;
	top: auto !important;
	bottom: 0 !important;
}

.sticktopwindow {
	position: absolute !important;
	top: 0 !important;
	bottom: auto !important;
}
