
.project-grid {
	display: flex;
	flex-wrap: wrap;
}

/**
 * Project Previews
 */
.project-preview {
	flex: 1 0 33%;
}

/**
 * Full-view Projects
 */
.project {
	margin-bottom: 4rem;
}

/**
 * Standard Projects
 */
.project--standard {
	display: flex;
	.project-details {
		flex: 1 0 41.667%;
	}
	.project-assets {
		flex: 1 0 58.333%;
	}
}

/**
 * Case Study Projects
 */
