
%avoid-column-break {
	// NOTE: these are prefixed because they are non-standard and won't be
	// accomodated for by autoprefixer
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

%font-smooth {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%icon {
	@include font-smoothing();
	display: inline-block;
	font-family: 'ysdn-icons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;

	font-smoothing: antialiased;
}
