@mixin icon ($wsize, $hsize) {
	display: block;
	width: $wsize;
	height: $hsize;
}

@mixin dotted-border($color, $direction: null) {
	background-image: linear-gradient(to right, $color 33%, rgba(255,255,255,0) 0%);
	@if $direction != null {
		background-repeat: repeat-x;
		background-position: #{$direction};
		background-size: 3px 1px;
	}
}
