
@mixin wrapper ($width: $grid-width) {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	max-width: $width;
}

@mixin icon ($icon, $size: 36px) {
	display: block;
	background: transparent;
	background-image: url('/assets/images/#{$icon}.svg');
	background-size: cover;
	background-repeat: no-repeat;
	width: $size;
	height: $size;
	flex-basis: $size;
}

@mixin fill {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin underline ($color: currentColor) {
	@include underline-color($color);
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 3px 1px;
	text-decoration: none;
}

@mixin underline-color ($color) {
	background-image: linear-gradient(to right, $color 33%, rgba(255,255,255,0) 0%);
}

@mixin link-hover-color ($color) {
	@include underline-color(rgba($color, 0.6));
	color: $color;
}

@mixin aspect-ratio ($width, $height) {
	padding-bottom: percentage($height / $width);
	height: 0;
}

//
// Media Queries
//

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
