

@mixin wrapper ($width: $max-width) {
	width: 90%;
	max-width: $width;
	margin-right: auto;
	margin-left: auto;
}

@mixin icon ($wsize, $hsize) {
	display: block;
	width: $wsize;
	height: $hsize;
}

@mixin fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin aspect-ratio ($width, $height) {
	height: 0;
	padding-bottom: percentage($height / $width);
}

//
// Typography
//

@mixin font-smoothing ($value: antialiased) {
	@if $value == antialiased {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@else {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}

@mixin underline ($color: currentColor) {
	@include underline-color($color);
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: 3px 1px;
	text-decoration: none;
}

@mixin underline-color ($color) {
	background-image: linear-gradient(to right, $color 33%, rgba(255,255,255,0) 0%);
}

@mixin underline-hover-color ($color) {
	@include underline-color(rgba($color, 0.6));
	color: $color;
}

@mixin all-caps {
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

@mixin project-category {
	@include all-caps;
	color: #aaa;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.0;
}

//
// Blocks
//

@mixin avatar {
	img {
		border-radius: 50%;
		overflow: hidden;
	}
}

@mixin image-placeholder() {
	position: relative;

	svg rect {
		fill: #f2f2f2;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.0;
		transition: opacity 500ms ease;

		backface-visibility: hidden;
	}

	img[lazyloaded] {
		opacity: 1.0;
	}
}
