
//
// Colors
//
$orange: #f47f50;
$yellow: #fed418;
$red: #ef4862;
$green: #5ac2b4;
$blue: #7abee0;
$accent: #2b4074;

$black: #141414;
$white: #fff;
$gray: lighten($black, 25%);
$light-gray: lighten($black, 70%);

//
// Typography
//
$sofia: 'Sofia', 'Avenir', 'Helvetica Neue', Arial, sans-serif;


//
// Components
//

$max-width: 1200px;

$ribbon-peek: 46px;
$ribbon-peek-offset: 12px;

$footer-height: 68px;
