
//
// Colors
//
$orange: #f47f50;
$yellow: #fed418;
$red: #ef4862;
$green: #5ac2b4;
$blue: #7abee0;
$accent: #2b4074;
$black: #1E1E1E;
$white: #fff;

//
// Typography
//
$sofia: 'Sofia', 'Avenir', 'Helvetica Neue', Arial, sans-serif;
$karla: 'Karla', 'Helvetica Neue', Arial, sans-serif;


//
// Components
//

$ribbon-width: 46px;


$header-height: 96px;
$footer-height: 68px;