
$ribbon-offset: 12px;

.event-ribbon {
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	background-color: $blue;
	width: $ribbon-width + $ribbon-offset;
	height: 100%;
	padding: 0;
	transform: translateX($ribbon-offset);
	transition: all 200ms ease-in-out;
	&.yellow {
		background-color: $yellow;
		.event-info span {
			color: rgba(0,0,0,.4);
		}
	}
	&.yellow:hover {
		background-color: darken($yellow, 10%);
	}
	&.black {
		background-color: #1e1e1e;
		color: white;
		a,p {
			color: white;
		}
		.event-info span {
			color: #a5a5a5;
		}
		.social-media {
			color: white;
		}
	}
	&:hover {
		transform: translateX(0);
		transition: all 200ms ease-out;
	}
	.icon {
		@include icon($ribbon-width, 40px);
		font-weight: bold;
		line-height: $ribbon-width;
		text-align: center;
	}
	.event-info {
		position: absolute;
		top: 0;
		width: 400px;
		transform: rotate(90deg);
		transform-origin: 0 100%;
		p {
			display: inline;
			padding: 0 10px;
			line-height: $ribbon-width;
			&:first-child {
				padding-left: 0;
			}
		}
		span {
			color: white;
		}
	}
	.social-media {
		position: absolute;
		bottom: 0;
		padding-bottom: 12px;
		color: black;
	}
	.page-event & {
		display: none;
	}
}
