
.event-ribbon {
	background-color: $blue;
	position: fixed;
	top: 0;
	right: 0;
	padding: 0;
	width: $ribbon-width;
	height: 100%;
	transition: all 0.4s;
	cursor: pointer;
	&.yellow {
		background-color: $yellow;
		.event-info span {
			color: rgba(0,0,0,0.4);
		}
	}
	&:hover {
		width: $ribbon-width + 12px;
		// background-color: darken($ribbon-color, 4%);
	}
	.icon {
		font-weight: bold;
		line-height: $ribbon-width;
		text-align: center;

		@include icon($ribbon-width, 40px);
	}
	.event-info {
		position: absolute;
		top: 0;
		transform: rotate(90deg);
		transform-origin: 0 100%;
		width: 400px;
		p {
			display: inline;
			padding: 0 10px;
			line-height: $ribbon-width;
			&:first-child {
				padding-left: 0;
			}
		}
		span {
			color: white;
		}
	}
	.social-media {
		position: absolute;
		bottom: 0;
		padding-bottom: 12px;
		color: black;
	}
}
