
.footer {
	position: absolute;
	right: $ribbon-width;
	bottom: 0;
	left: 0;
	background: #fff;
	width: 100%;
	font-family: $karla;
	.bottom-bar {
		border-top: 1px black solid;
		width: 100%;
		height: $footer-height;
		margin: 0 auto;
		padding: 0 30px;
	}
	.nav,
	.info {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.nav {
		float: left;
		vertical-align: bottom;
		a {
			margin-right: 20px;
			padding-bottom: 2px;
			color: #1b2020;
			font-size: .875em;
			line-height: 30px;
			text-decoration: none;
			&:hover {
				border-bottom: 1px solid black;
				padding-bottom: 0;
			}
		}
	}
	.info {
		float: right;
	}
	.info p {
		display: inline-block;
		margin: 0 10px;
	}
}
.feature {
	padding-top: 50px;
	padding-bottom: $footer-height + 70px;
	text-align: center;
	p,
	a {
		font-family: $sofia;
		font-size: 21px;
		font-weight: bold;
		line-height: 32px;
	}
}
.discover {
	border-top: 1px light-gray solid;
	padding-top: 30px;
	padding-bottom: $footer-height + 30px;
	h2 {
		font-size: 21px;
		line-height: 32px;
		letter-spacing: .2px;
	}
	p {
		margin-top: 2px;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: .3px;
		text-transform: uppercase;
	}
	a {
		color: #fff;
		font-family: Karla-Regular;
		font-size: 16px;
		line-height: 22px;
	}
	.preview {
		display: block;
		width: 100%;
		height: 160px;
		margin-bottom: 20px;
	}
	.subhead {
		color: #aaa;
	}
}
