
.footer {
	// position: absolute;
	width: 90%;
	margin: 0 auto;
	bottom: 0;
	left: 0;
	background: #fff;
	font-family: $sofia;
	font-size: 0.875em;

	a {
		padding-bottom: 2px;
		color: #1b2020;
		line-height: 30px;
		text-decoration: none;
		&:hover span {
			border-bottom: 1px solid black;
			padding-bottom: 0;
		}
	}

	a + a {
		margin-left: 20px;
	}
}

.feature {
	padding-top: 40px;
	padding-bottom: 48px;
	text-align: center;
	p,
	a {
		font-family: $sofia;
		font-size: 21px;
		line-height: 32px;
		letter-spacing: 0.15px;
	}
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	border-top: 1px black solid;
	padding: 20px 0 28px;
	max-width: $max-width;
	margin: 0 auto;

	@media #{$media-mobile-large} {
		flex-direction: column;
	    -webkit-align-items: center;
	    align-items: center;
	    padding: 16px 0 16px;
	}
}
.footer-nav{
	@media #{$media-mobile-large} {
		padding-bottom: 20px;
	}
}

.footer-back-to-top {
	i {
		position: relative;
		top: 2px;
		margin-right: 6px;
		font-size: 19px;
	}
}
