$header-dark-color: $white;
$header-dark-bg: $black;
$header-light-color: #1b2020;
$header-light-bg: $white;

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// margin-right: $ribbon-width;
	padding: 30px 40px 30px 35px;
	.logo {
		width: 120px;
		path {
			fill: $header-light-color;
		}
	}
	.nav {
		position: relative;
		color: $header-light-color;
		font-family: $sofia;
		font-size: 21px;
		font-weight: bold;
		line-height: 40px;
		text-decoration: none;
		a {
			margin-left: 30px;
			&.active,
			&:hover {
				border-bottom: 2px currentColor solid;
				padding-bottom: 2px;
			}
		}
	}

	&.dark {
		background-color: $header-dark-bg;
		// Dark theme
		color: $header-dark-color;

		.logo {
			path {
				fill: $header-dark-color;
			}
		}

		.nav {
			font-weight: normal;
		}

		a {
			color: $header-dark-color;
		}
	}
}
