$header-dark-color: $white;
$header-dark-bg: $black;
$header-light-color: #1b2020;
$header-light-bg: $white;

.header {
	position: relative;
	z-index: 9;
	padding: 30px 0;
}

.header-wrapper {
	@include wrapper;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

.header-logo {
	width: 120px;
	path {
		fill: $header-light-color;
	}
}

.header-nav {
	position: relative;
	color: $header-light-color;
	font-family: $sofia;
	font-size: 21px;
	line-height: 40px;
	text-decoration: none;
	a {
		margin-left: 30px;
		&.active,
		&:hover {
			border-bottom: 2px currentColor solid;
			padding-bottom: 2px;
		}
	}
}
