$header-dark-color: #fff;
$header-dark-bg: #000;
$header-light-color: #1b2020;
$header-light-bg: #fff;

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// margin-right: $ribbon-width;
	padding: 20px 26px 20px 36px;
	.logo {
		background: url(images/logo.svg) no-repeat 50% 50%;
		width: 120px;
		height: 40px;
	}
	.nav {
		position: relative;
		color: $header-light-color;
		font-family: $sofia;
		font-size: 1.15rem;
		font-weight: bold;
		line-height: 40px;
		text-decoration: none;
		a {
			margin-left: 30px;
			&.active,
			&:hover {
				border-bottom: 2px currentColor solid;
				padding-bottom: 2px;
			}
		}
	}

	&.dark {
		background-color: $header-dark-bg;
		// Dark theme
		color: $header-dark-color;

		.logo {
			background: url(images/logo-light.svg) no-repeat 50% 50%;
		}

		.nav {
			font-weight: normal;
		}

		a {
			color: $header-dark-color;
		}
	}
}
