.project-footer {
	border-top: 1px rgba(0,0,0,0.2) solid;
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	padding-top: 48px;
	padding-bottom: 40px;

	p {
		margin-top: 2px;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.3px;
		text-transform: uppercase;
	}

	.btn-primary {
		color: #fff;
		line-height: 22px;
	}

	.preview {
		display: block;
		width: 100%;
		height: 160px;
		margin-bottom: 20px;
	}

	.subhead {
		color: #aaa;
	}
}

.project-footer-event-prompt,
.project-footer-next-project,
.project-footer-related-project {
	width: 33%;
}

@media only screen and (max-width: 740px) {
	.project-footer-event-prompt,
	.project-footer-next-project,
	.project-footer-related-project {
		width: 50%;
		margin: 20px 0;
	}
	.project-footer-event-prompt {
		width: 100%;
	}
}

.project-footer-subhead {
	margin-bottom: 16px;
	color: $gray;
	font-family: $sofia;
	font-size: 14px;
	font-weight: normal;
	// line-height: 19px;
	letter-spacing: 0.3px;
	text-transform: uppercase;
}

//
// Visit the Event Prompt
//

.project-footer-event-prompt {
	padding-right: $project-grid-gutter / 2;
	padding-left: 0;

	@media #{$media-tablet-medium} {
		padding-right: 0;
	}

	&-headline {
		max-width: 15em;
		margin-top: 40px;
		margin-bottom: 48px;
		font-size: 21px;
		line-height: 32px;
		font-weight: normal;
	}
}

//
// Next / Similar Project
//

.project-footer-next-project,
.project-footer-related-project {
	padding-right: $project-grid-gutter / 4;
	padding-left: $project-grid-gutter / 4;
}

.project-footer-related-project{
	padding-right: 0;
}
.project-footer-next-project {
	@media #{$media-tablet-medium} {
		padding-left: 0;
	}
}

.project-footer-preview {
	&.hover .project-footer-preview-image,
	&.hover .project-footer-preview-title {
		opacity: 0.6;
	}
}

.project-footer-preview-image {
	@include image-placeholder;
	display: block;
	margin-bottom: 14px;
	transition: opacity 200ms ease;
}

.project-footer-preview-title {
	display: block;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.3;
	transition: opacity 200ms ease;

	@media #{$media-tablet-medium} {
		font-size: 16px;
	}
}

.project-footer-preview-category {
	display: block;
	margin-top: 6px;
	color: #aaa;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	transition: opacity 200ms ease;
	&:hover {
		opacity: 0.6;
	}
}

.project-footer-preview-author {
	display: block;
	margin-top: 6px;
	color: #888;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.3;
	transition: opacity 200ms ease;
	&:hover {
		opacity: 0.6;
	}
}
