
.subscribe {
	display: inline-block;
	font-family: $karla;
	input {
		min-width: 260px;
	}
	a {
		border-left: 0;
		display: inline-block;
		margin: 0;
		padding: 7px 20px;
		font-size: 16px;
		line-height: 25px;
	}
	.btn-primary {
		font-family: $karla;
	}
}
