<section class="alpha-scroller">
	<a href="#a" id="a-s-a" class="active">A</a>
	<a href="#b" id="a-s-b">B</a>
	<a href="#c" id="a-s-c">C</a>
	<a href="#d" id="a-s-d">D</a>
	<a href="#e" id="a-s-e">E</a>
	<a href="#f" id="a-s-f">F</a>
	<a href="#g" id="a-s-g">G</a>
	<a href="#h" id="a-s-h">H</a>
	<a href="#i" id="a-s-i">I</a>
	<a href="#j" id="a-s-j">J</a>
	<a href="#k" id="a-s-k">K</a>
	<a href="#l" id="a-s-l">L</a>
	<a href="#m" id="a-s-m">M</a>
	<a href="#n" id="a-s-n">N</a>
	<a href="#o" id="a-s-o">O</a>
	<a href="#p" id="a-s-p">P</a>
	<a href="#q" id="a-s-q">Q</a>
	<a href="#r" id="a-s-r">R</a>
	<a href="#s" id="a-s-s">S</a>
	<a href="#t" id="a-s-t">T</a>
	<a href="#u" id="a-s-u">U</a>
	<a href="#v" id="a-s-v">V</a>
	<a href="#w" id="a-s-w">W</a>
	<a href="#x" id="a-s-x">X</a>
	<a href="#y" id="a-s-y">Y</a>
	<a href="#z" id="a-s-z">Z</a>
</section>