<section class="event-panel
	 {%- if id == 'event' %} event-panel--open{% endif -%}
	 {%- if id == 'projects' %} yellow{% endif -%}
	 {%- if id == 'students' %} black{% endif -%}
"> {# ^ section specific color examples #}
	<div class="event-ribbon">
		<a href="/event/" class="event-ribbon-trigger">
			<div class="event-ribbon-arrow">&rarr;</div>
			<div class="event-ribbon-info">
				<p class="event-ribbon-info-cta">Show Information</p>
				<p class="event-ribbon-info-details">April 19, Toronto, ON</p>
			</div>
		</a>
		<div class="event-ribbon-social-media">
			<a href="{{ social.facebook.url }}" class="event-ribbon-social-media-icon i-facebook"></a>
			<a href="{{ social.instagram.url }}" class="event-ribbon-social-media-icon i-instagram"></a>
			<a href="{{ social.twitter.url }}" class="event-ribbon-social-media-icon i-twitter"></a>
			<a href="{{ social.mail.url }}" class="event-ribbon-social-media-icon i-mail"></a>
		</div>
	</div>
	<section class="event-panel-content">
		<section class="event-introduction event-section">
			<div class="event-introduction-overlay"></div>
			<div class="event-introduction-logo-desktop event-introduction-logo">{% include './logo.html' %}</div>
			<div class="event-introduction-logo-mobile event-introduction-logo">{% include './logo-grid.html' %}</div>
			<h1 class="event-introduction-headline">
				<span class="event-introduction-headline-program">The York<span class="event-introduction-headline-slash">/</span>Sheridan Program <span class="no-wrap">in Design</span> invites you to</span>
				<span class="event-introduction-headline-show-name no-wrap">{{ event.title }}</span>
			</h1>
			<div class="event-introduction-details">
				<a href="https://www.google.com/calendar/render?action=TEMPLATE&text=YSDN+Grad+Show:+The+Intermission&dates=20160419T230000Z/20160420T030000Z&location=Liberty+Grand,+Toronto,+ON&sf=true&output=xml" class="event-introduction-date" target="_blank">April 19, 2016</a>
				<a href="https://goo.gl/maps/YuXwP9XNDhQ2" class="event-introduction-venue" target="_blank">Liberty Grand, Toronto</a>
			</div>
			<div class="event-introduction-arrow"></div>
		</section>
	</section>
</section>
