{% if type == 'case-study' || type == 'standard' %}
<div class="discover row">
  <div class="col-4">
    <p>Enjoyed this project?</p>
    <div class="preview">
    <h2>To meet Taylor and the rest of the cast, come check out our show, The Intermission, on April 18—19 at The Liberty Grand.</h2>
    </div>
    <a class="btn-primary">Show information</a>
  </div>
  <div class="col-4">
    <p>Also by Taylor</p>
    <div class="preview" style="background-color: gray"></div>
    <h2>Lyte</h2>
    <p class="subhead">Communication</p>
  </div>
  <div class="col-4">
    <p>Similar Project</p>
    <div class="preview" style="background-color: gray"></div>
    <h2>Field Fair 2015</h2>
    <p class="subhead">Interactive</p>
  </div>
</div>
{% else %}
<div class="feature">
  <p>Thanks for visiting. To meet the cast, come check out our show,<br> The Intermission, on April 18—19 at The Liberty Grand.</p>
  <a href="/event/">See show information &rarr;</a>
</div>
{% endif %}
<footer class="footer">
  <div class="bottom-bar">
    <div class="nav">
      <a href="/projects/" {% if id == 'projects' %}class="active"{% endif %}>Work</a>
      <a href="/students/" {% if id == 'students' %}class="active"{% endif %}>The Cast</a>
      <a href="/sponsor/" {% if id == 'sponsors' %}class="active"{% endif %}>Sponsors</a>
      <!-- Not sure where this link goes -->
      <a href="/contact/" {% if id == 'contact' %}class="active"{% endif %}>Contact</a>
    </div>
    <div class="info">
      <p>Subscribe to our Newsletter</p>
      {% include 'subscribe.html' %}
    </div>
  </div>
</footer>
