{% if type !== 'case-study' and type !== 'standard' %}
<div class="feature">
  <p>To meet the cast and explore their work, come check out The Intermission <br>on April 19th at The Liberty Grand.</p>
  <a href="/event/" class="btn-primary">Event Information</a>
</div>
{% endif %}

<footer class="footer">
  <div class="footer-wrapper">
    <nav class="footer-nav">
      <a href="/work/" {% if id == 'work' %}class="active"{% endif %}><span>Work</span></a>
      <a href="/students/" {% if id == 'students' %}class="active"{% endif %}><span>Cast</span></a>
      <a href="/sponsors/" {% if id == 'sponsors' %}class="active"{% endif %}><span>Sponsors</span></a>
      <a href="/about/" {% if id == 'about' %}class="active"{% endif %}><span>About</span></a>
    </nav>
    <div class="footer-actions">
      <a href="#!top" class="footer-back-to-top"><i class="i-arrow-up"></i><span>Back To Top</span></a>
    </div>
  </div>
</footer>
