<header class="header">
  <a href="/"><div class="logo"></div></a>
  <div class="nav">
    <a href="/projects/" {% if id == 'projects' %}class="active"{% endif %}>Projects</a>
    <a href="/students/" {% if id == 'students' %}class="active"{% endif %}>Students</a>
    <a href="/sponsor/" {% if id == 'sponsors' %}class="active"{% endif %}>Sponsor</a>
    <a href="/event/" {% if id == 'event' %}class="active"{% endif %}>Event Details</a>
  </div>
  <div class="social">
  	<a href="https://www.facebook.com/ysdnmade/?fref=ts" target="_blank"><i class="fa fa-fw fa-lg fa-facebook"></i></a>
  	<a href="https://www.facebook.com/ysdnmade/?fref=ts" target="_blank"><i class="fa fa-fw fa-lg fa-twitter"></i></a>
  	<a href="https://www.facebook.com/ysdnmade/?fref=ts" target="_blank"><i class="fa fa-fw fa-lg fa-instagram"></i></i></a>
  </div>
  <div class="note">
  	<p>April 18th and 19th at The Liberty Grand</p>
  </div>
</header>
