<header class="header">
	<div class="header-wrapper">
	  <a href="/" class="header-logo">{% include 'logo.html' %}</a>
	  <div class="header-nav">
	    <a href="/work/" {% if id == 'work' %}class="active"{% endif %}>Work</a>
	    <a href="/students/" {% if id == 'students' %}class="active"{% endif %}>Cast</a>
	    <a href="/sponsors/" {% if id == 'sponsors' %}class="active"{% endif %}>Sponsors</a>
	    <a href="/about/" {% if id == 'about' %}class="active"{% endif %}>About</a>
	  </div>
	</div>

	<div class="mobile-header">
		<a href="/" class="mobile-header-logo">{% include 'logo.html' %}</a>
		<a href="#!" class="mobile-header-nav-trigger mobile-header-trigger" id="mobile-header-trigger"></a>
		<div class="mobile-header-nav">
			<a href="/work/" {% if id == 'work' %}class="active"{% endif %}>Work</a>
	    <a href="/students/" {% if id == 'students' %}class="active"{% endif %}>Cast</a>
	    <a href="/sponsors/" {% if id == 'sponsors' %}class="active"{% endif %}>Sponsors</a>
	    <a href="/about/" {% if id == 'about' %}class="active"{% endif %}>About</a>
	    <a href="#!" class="close" id="mobile-header-close"><span>Close</span></a>
		</div>
	</div>
</header>
