<header class="project-header">
	<div class="project-owner">
		<a class="project-owner-image" href="{{ owner.href }}">
			<img src="{{ owner.strip | asset_url({ width: 120, height: 120, fit: 'facearea', face: 2, facepad: 1.4 }) }}" alt="{{ owner.name }}" draggable="false" />
		</a>
		<div class="project-owner-details">
			<a class="project-owner-name" href="{{ owner.href }}" >{{ owner.name }}</a>
			<a class="project-owner-category" href="/work/{{ category }}">{{ category | titleize }}</a>
		</div>
	</div>
	<div class="project-header-title{% if title.length < 10 %} project-header-title--large{% endif %}">{{ title }}</div>
</header>
