<div class="project-preview" data-id="{{ project.id }}" data-title="{{ project.title }}" data-owner="{{ project.owner.name }}" data-category="{{ project.category }}" data-weight="{{ project.weight }}">
	<a href="{{ project.href }}" class="project-preview-image">
		<svg class="project-preview-image-placeholder" viewBox="0 0 {{ project.thumbnail.width }} {{ project.thumbnail.height }}" preserveAspectRatio="xMinYMin" width="{{ project.thumbnail.width }}">
			<rect x="0" y="0" width="100%" height="100%"></rect>
		</svg>
		<img src="{{ pixel }}" data-src="{{ project.thumbnail | asset_url({ width: 400 }) }}" data-src-retina="{{ project.thumbnail | asset_url({ width: 800 }) }}" />
	</a>
	<div class="project-preview-details">
		<a href="{{ project.href }}" class="project-preview-title">{{ project.title }}</a>
		<a href="{{ project.owner.href }}" class="project-preview-student">{{ project.owner.name }}</a>
	</div>
</div>
