{% extends 'site.html' %}

{% block main %}
	<section class="about">

		<div class="about-header">
			<h1>About</h1>
			<p>The <a href="design.yorku.ca" target="_blank"><span>York/Sheridan Program in Design</span></a> is the first and largest program in Ontario that offers the Bachelor of Design Honours degree, a four-year University degree delivered jointly by York University and Sheridan College.</p>
			<p>The Intermission is the student grad show for 2016. It is a chance to reflect on the last four years: to celebrate our accomplishments, and confess our hopes and fears for the future.</p>

			<div class="shapes">
				<div class="shape about-header-shape-1"></div>
				<div class="shape about-header-shape-2"></div>
				<div class="shape about-header-shape-3"></div>
				<div class="shape about-header-shape-4"></div>
				<div class="shape about-header-shape-5"></div>
			</div>
		</div> <!-- .about-header -->

		<div class="about-brand">
			<div class="inner fullwidth">
				<div class="about-brand-video">
					<a href="#" class="about-btn-play" id="about-btn-play"></a>
					<h3>The Intermission</h3>
					<p>About the brand</p>
					<p>2:05</p>
				</div>
				<div class="about-brand-info">
					<h2>Design for the Second Act</h2>
					<p>It's the eye of the hurricane, a moment of calm preceding and succeding the storm, the pause between two tumultuous periods.</p>
					<p>In the theatre world, this break in the action is called "the intermission". During the intermission, the house lights come on, the actors break character, and the audience is allowed a chance to revel in what they’ve just experienced, and wonder what’s to come.</p>
					<p>The intermission is a pause in the theatrics, and a chance for us to truly introduce ourselves.</p>
				</div>
			</div>
		</div>

		<div class="about-info">
			<h2>Design for the Second Act</h2>
			<p>It is the eye of the hurricane, a moment of calm preceding and succeeding the storm, the pause between two tumultuous periods.</p>
			<p>In the theatre world, this break in the action is called "the intermission". During the intermission, the house lights come on, the actors break character, and the audience is allowed a chance to revel in what they've just experienced, and wonder what's to come.</p>
			<p>The intermission is a pause in theatrics, and a chance for us to truly introduce ourselves.</p>
			<div class="shapes">
				<div class="shape about-info-shape-1"></div>
				<div class="shape about-info-shape-2"></div>
				<div class="shape about-info-shape-3"></div>
				<div class="shape about-info-shape-4"></div>
				<div class="shape about-info-shape-5"></div>
			</div>
		</div>

		<div class="about-contact">
			<div class="row">

				</div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
			</div>
		</div> <!-- .about-contact -->

	</section> <!-- .about -->

{% endblock %}
