<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8"/>
	<meta name="description" content="{{ site.description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

	<link rel="shortcut icon" type="image/png" href="/favicon.png" />
	<link rel="stylesheet" media="screen, projection" href="/assets/bundle.css" />
	<link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="{% block body.class %}{% endblock %}">
	{% include "partials/header.html" %}
	<div class="container">
	{% block body %}{% endblock %}
	</div>
	{% if env == 'development' %}
	<script src="http://127.0.0.1:35729/livereload.js"></script>
	{% endif %}
</body>
</html>
