<div class="event-panel {%- if id == 'event' %} event-panel--open{% endif %}">
	<div class="event-panel-content">
		<div class="event-panel-content-wrapper">
			<div class="event-shape-a"></div>
			<div class="event-shape-b"></div>
			<div class="event-details">
				<div class="event-details-content">
					<div class="event-details-block">
						<h4>You&rsquo;re invited to</h4>
						<h1>The Intermission: <span class="no-wrap">Grad Show</span></h1>
					</div>
					<div class="event-details-time event-details-block">
						<h5>When</h5>
						<h3>April 19, 2016</h3>
						<div class="event-details-time-blocks">
							<div class="event-details-time-block">
								<h6>Industry Reception</h6>
								<h3>4:30pm&mdash;7pm</h3>
							</div>
							<div class="event-details-time-block">
								<h6>Doors Open</h6>
								<h3>7pm&mdash;11pm</h3>
							</div>
						</div>
					</div>
					<div class="event-details-location event-details-block">
						<h5>Where</h5>
						<h3>The Liberty Grand</h3>
						<a href="https://goo.gl/maps/YuXwP9XNDhQ2" target="_blank">25 British Columbia Rd, Toronto</a>
					</div>
				</div>
				<div class="event-details-schools">

				</div>
			</div>
			<div class="event-details-spacer"></div>
			<div class="event-info">
				<div class="event-info-intro">
					<p>The Intermission is the 2016 <a href="http://design.yorku.ca" target="_blank">York/Sheridan Program in Design&rsquo;s</a> annual showcase of the best work produced by its graduating class. It is a night for the industry to connect with emerging designers and explore their projects, and for students to celebrate their past four years of hard work with you!</p>
					<img class="event-info-figure" src="{{ pixel }}" data-src="/assets/images/grad-show-close@1x.jpg" data-retina-src="/assets/images/grad-show-close@1x.jpg" />
				</div>
				<div class="event-directions">
					<h3>Getting to the Show</h3>
					<div class="event-directions-map"></div>
					<div class="event-directions-routes-wrapper">
						<h3>Getting to the Show</h3>
						<div class="event-directions-routes">
							<div class="event-directions-route">
								<h6>TTC</h6>
								<div class="event-directions-stops">
									<div class="event-directions-stop">29 Dufferin &rarr; Saskatchewan Rd</div>
									<div class="event-directions-stop">504 King &rarr; Dufferin St</div>
									<div class="event-directions-stop">509 Harbourfront &rarr; Manitoba Dr</div>
								</div>
							</div>
							<div class="event-directions-route">
								<h6>GO</h6>
								<div class="event-directions-stops">
									<div class="event-directions-stop">Lakeshore West &rarr; Exhibition</div>
								</div>
							</div>
							<div class="event-directions-route">
								<h6>Car</h6>
								<div class="event-directions-stops">
									<a href="https://www.google.ca/maps/place/10+Yukon+Pl,+Toronto,+ON+M6K+3C3/@43.6313371,-79.4257077,17.69z/data=!4m2!3m1!1s0x882b3509d05b0731:0x9e824a6f06404650?hl=en" target="_blank" class="event-directions-stop">Parking area beside venue</a>
								</div>
							</div>
							<a href="https://goo.gl/vCID1a" target="_blank" class="event-directions-link">Get directions on Google Maps</a>
						</div>
					</div>
				</div>
				<div class="event-info-faq">
					<h3>Frequently Asked Questions</h3>
					<div class="event-info-question">
						<h5>Is the show free?</h5>
						<p>Yes, absolutely. However, we do help fund the event through sponsorships. If you’re interested in supporting this or future years, <a href="mailto:exec.ysdn16@gmail.com">get in touch.</a></p>
					</div>
					<div class="event-info-question">
						<h5>What can I expect to see and do at the show?</h5>
						<p>The show is an opportunity to browse the work and meet in-person with grads from one of Canada’s top design programs.</p>
					</div>
					<div class="event-info-question">
						<h5>Will there be drinks?</h5>
						<p>Yes, we’ll have a cash bar available throughout the night.</p>
					</div>
					<div class="event-info-question">
						<h5>What is the 'Industry Reception' portion of the show?</h5>
						<p>We dedicate a part of the night exclusively to people working in the design and creative industries. All students will be there to answer any questions about their work and experience. No ticket or registration is required.</p>
					</div>
					<div class="event-info-question">
						<h5>I'll be at <a href="http://fitc.ca/" target="_blank">FITC</a> on April 19th. Can I still come?</h5>
						<p>Definitely! The FITC schedule ends at 6pm on April 19th. We’re open until 11pm, so there’s lots of time if you’d like to swing by in the evening.</p>
					</div>
					<div class="event-info-question">
						<h5>Where can I park my car?</h5>
						<p>There is a parking area located <a href="https://www.google.ca/maps/place/10+Yukon+Pl,+Toronto,+ON+M6K+3C3/@43.6313371,-79.4257077,17.69z/data=!4m2!3m1!1s0x882b3509d05b0731:0x9e824a6f06404650?hl=en">beside the Liberty Grand</a> that will be available.</p>
					</div>
				</div>
				<div class="event-info-cast">
					<h3>Come Meet the Cast!</h3>
					<p>Let us know if you're coming <a href="https://www.facebook.com/events/260128614319369/">on Facebook</a> and <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=YSDN+Grad+Show:+The+Intermission&dates=20160419T230000Z/20160420T030000Z&location=Liberty+Grand,+Toronto,+ON&sf=true&output=xml">add the event to your calendar</a>. We hope to see you there!</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="event-ribbon {%- if id == 'event' %} event-ribbon--open{% endif %}">
	<div class="event-ribbon-wrapper--desktop event-ribbon-wrapper wrapper">
		<div class="event-ribbon-nav--minimized event-ribbon-nav">
			<div class="event-ribbon-callout">
				Attend the Grad Show
			</div>
			<div class="event-ribbon-arrow i-arrow-up"></div>
			<div class="event-ribbon-details">
				Liberty Grand, Toronto<span class="event-ribbon-bullet">&bullet;</span>April 19
			</div>
		</div>
		<div class="event-ribbon-nav--maximized event-ribbon-nav">
			See Full Site
			<span class="event-ribbon-arrow i-arrow-up"></span>
		</div>
	</div>
	<div class="event-ribbon-wrapper--mobile event-ribbon-wrapper wrapper">
		<div class="event-ribbon-nav--minimized event-ribbon-nav">
			<div class="event-ribbon-callout">
				<span class="event-ribbon-arrow i-arrow-up"></span>
				Attend the Show
			</div>
			<a href="#!" class="event-ribbon-menu-toggle">Menu</a>
		</div>
		<div class="event-ribbon-nav--maximized event-ribbon-nav">
			<span class="event-ribbon-arrow i-arrow-down"></span>
			See Full Site
		</div>
	</div>
	<div class="event-ribbon-menu">
		<div class="event-ribbon-menu-line">
			<a href="/work/" {% if id == 'work' %}class="active"{% endif %}>Work</a>
		</div>
		<div class="event-ribbon-menu-line">
			<a href="/students/" {% if id == 'students' %}class="active"{% endif %}>Cast</a>
		</div>
		<div class="event-ribbon-menu-line">
			<a href="/sponsors/" {% if id == 'sponsors' %}class="active"{% endif %}>Sponsors</a>
		</div>
		<div class="event-ribbon-menu-line">
			<a href="/about/" {% if id == 'about' %}class="active"{% endif %}>About</a>
		</div>
		<div class="event-ribbon-menu-line event-ribbon-menu-line--social">
			<a href="{{ social.facebook.url }}" class="event-ribbon-social-icon i-facebook" target="_blank"></a>
			<a href="{{ social.instagram.url }}" class="event-ribbon-social-icon i-instagram" target="_blank"></a>
			<a href="{{ social.twitter.url }}" class="event-ribbon-social-icon i-twitter" target="_blank"></a>
			<a href="{{ social.mail.url }}" class="event-ribbon-social-icon i-mail" target="_blank"></a>
		</div>
	</div>
</div>
