{% extends 'base.html' %}

{% block body %}

	<section class="event-full-site-notice">
		<p>The full site with student work is coming soon. <a href="#">Subscribe</a> to get updated when it launches!</p>
	</section>

	<section class="event-introduction">
		<h1 class="event-introduction-headline">
			<span class="event-introduction-headline-program">The York / Sheridan Program in Design invites you to</span>
			<span class="event-introduction-headline-show-name">The Intermission</span>
		</h1>
		<div class"event-introduction-details">
			<div class="event-introduction-date"></div>
			<div class="event-introduction-venue"></div>
		</div>
	</section>

	<h1>Event details</h1>

	{% for session in sessions %}
		<div class="session">
			<div class="session-name">{{ session.name }}</div>
			<div class="session-date">{{ session.start | date('F jS, Y') }}</div>
			<div class="session-time">
				<span class="session-start">{{ session.start | date('g:i') }}</span>&ndash;<span class="session-end">{{ session.end | date('g:i') }}</span>
			</div>
		</div>
	{% endfor %}

{% endblock %}
