{% extends 'base.html' %}

{% block body %}

  <section class="home-introduction">
    <h2 class="home-introduction-headline">York<span class="slash">/</span>Sheridan Program in Design&rsquo;s<br/>Graduating Class of 2016 presents</h2>
    <div class="home-introduction-arrow"></div>
  </section>
  <!-- <section class="home-">
  </section> -->

  <!-- <div class="home-introduction">
    <h1 class="home-headline">Design for the Second Act.</h1>
    <h3 class="home-subhead">YSDN Design Degree Show 2016</h3>
  </div> -->

{% endblock %}
