<!DOCTYPE html>
<html lang="en">
<head>
	<title>Redirecting...</title>
	<link rel="stylesheet" media="screen, projection" href="/assets/bundle.css" />
	<meta property="og:site_name" content="YSDN 2016"/>
	<meta property="og:title" content="YSDN 2016 Presents: The Intermission"/>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://ysdn2016.com/" />
	<meta property="og:image" content="http://ysdn2016.com/assets/images/og-image.png" />
	<meta property="og:description" content="{{ site.description }}" />
	<meta http-equiv="refresh" content="0;url={{ url }}">
</head>
<body class="page-redirect">
</body>
</html>
