{% extends 'site.html' %}

{% block main %}
	<section class="sponsors">

		<div class="sponsors-header">
			<h1>Sponsors</h1>
			<p>We would like to express our gratitute to our generous sponsors. <br>This show wouldn’t have been possible without their kind support.</p>
			<p class="subline">If you are interested in supporting this event or a Grad Show in the future, <a href="#">please get in touch.</a></p>

			<div class="shapes">
				<div class="shape sponsors-header-shape-1"></div>
				<div class="shape sponsors-header-shape-2"></div>
				<div class="shape sponsors-header-shape-3"></div>
				<div class="shape sponsors-header-shape-4"></div>
				<div class="shape sponsors-header-shape-5"></div>
			</div>
		</div> <!-- .sponsors-header -->

		<section class="event-sponsors event-section">
		<div class="event-sponsors-logos">
					<div class="event-sponsors-presenting-sponsors">
						{% for sponsor in event.sponsors | filter('priority', 1) %}
						<a class="event-presenting-sponsor event-sponsor event-sponsor--{{ sponsor.id }}" href="{{ sponsor.url }}" rel="nofollow" target="_blank">
							{% set logo = "partials/sponsors/%.html" | replace('%', sponsor.id) %}
							{% include logo %}
						</a>
						{% endfor %}
					</div>
					<div class="event-sponsors-founding-sponsors">
						{% for sponsor in event.sponsors | filter('priority', 2) %}
						<a class="event-founding-sponsor event-sponsor event-sponsor--{{ sponsor.id }}" href="{{ sponsor.url }}" rel="nofollow" target="_blank">
							{% set logo = "partials/sponsors/%.html" | replace('%', sponsor.id) %}
							{% include logo %}
						</a>
						{% endfor %}
					</div>
					<div class="event-sponsors-patron-sponsors">
						{% for sponsor in event.sponsors | filter('priority', 3) %}
						<a class="event-patron-sponsor event-sponsor event-sponsor--{{ sponsor.id }}" href="{{ sponsor.url }}" rel="nofollow" target="_blank">
							{% set logo = "partials/sponsors/%.html" | replace('%', sponsor.id) %}
							{% include logo %}
						</a>
						{% endfor %}
					</div>
				</div>
			</div><!-- .sponsors -->

	<!-- Hide until Videos are Received -->
	<!--
	<section class="sponsors">
		<div class="sponsors-header">
			<h1>RL Solutions</h1>
			<p>Presenting Sponsor</p>
		</div>
		<div class="sponsors-videos">
			<div class='embed-container'>
				<iframe src='https://player.vimeo.com/video/8057966' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
			<div class='embed-container'>
				<iframe src='https://player.vimeo.com/video/8057966' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
		</div>
	</section> -->

{% endblock %}