{% extends 'site.html' %}

{% block main %}
	<section class="student-profile">
		<div class="student-header">
			<div class="student-meta">
				<h1>{{ name }}</h1>
				<div class="student-categories">
					{% for category in projectCategories %}
					<a href="{{ category.href }}" class="student-category">{{ category.title }}</a>
				{% endfor %}
				</div>
				<div class="student-social">
					{% if url %}<a href="{{ url }}" class="student-social-url" target="_blank"><span>Profile</span></a>{% endif %}
					{% if instagram %}<a href="https://www.instagram.com/{{ instagram | replace('@', '') }}" class="student-social-instagram" target="_blank"><span>Instagram</span></a>{% endif %}
					{% if linkedin %}<a href="https://ca.linkedin.com/in/{{ linkedin | replace('@', '') }}" class="student-social-linkedin" target="_blank"><span>LinkedIn</span></a>{% endif %}
					{% if github %}<a href="https://github.com/{{ github | replace('@', '') }}" class="student-social-github" target="_blank"><span>GitHub</span></a>{% endif %}
				</div>
			</div>
			{% if portrait %}
			<div class="student-image">
				<img src="{{ portrait | asset_url }}" />
			</div>
			{% endif %}
			<div class="profile-shapes">
				<img src="/assets/images/profile-shapes.png" />
			</div>
		</div>
		<div class="student-body">
			<div class="">
				<div class="student-info">
					<p><span>Don’t jump into conclusions before trying it out. You’d be surprised to see how wrong you are many of the times.</span></p>
					<h5>About</h5>
					<p>{{ biography }}</p>
					<h5>Looking For</h5>
					<p class="text-light">I am currently looking for a full-time opportunity where I can practice and learn product design and project management.</p>
					<p class="text-light">{{ lookingfor }}</p>
					<h5>Achievements</h5>
					<p class="text-light">
						2013 Adobe Student Design Awards: Finalist, Honourable Mention.
					</p>
					<p class="text-light">{{ achievements }}</p>
				</div>
				<div class="student-work-list">
					<div class="group">
						{% for project in projects %}
							<div class="student-project col">
								<a href="{{ project.href }}">
									<img src="{{ project.thumbnail.url }}" alt="{{ project.title }}">
									<div class="meta">
										<div class="info">
											<h4>{{ project.title }}</h4>
											<p class="cat">{{ project.category | titleize }}</p>
										</div>
										<div class="desc">
											{# <p>{{ project.contents | safe }}</p> #}
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- {% include 'partials/in-progress.html' %} -->
	{{ contents | safe }}
{% endblock %}
