{% extends 'base.html' %}

{% block main %}
	<section class="student-profile">
		<div class="student-header">
			<div class="student-meta">
				<h1>{{ name }}</h1>
				<h3>Product Designer with Rainbow Design Co</h3>
				<div class="student-categories">
					{% for category in projectCategories %}
					<a href="{{ category.href }}" class="student-category">{{ category.title }}</a>
				{% endfor %}
				</div>
				<div class="student-social">
					{% if url %}<a href="{{ url }}" class="student-social-url" target="_blank"><span>{{ url | hostname }}</span></a>{% endif %}
					{% if facebook %}<a href="{{ facebook }}" class="student-social-facebook" target="_blank"><span>Facebook</span></a>{% endif %}
					{% if instagram %}<a href="{{ instagram }}" class="student-social-instagram" target="_blank"><span>Instagram</span></a>{% endif %}
					{% if linkedin %}<a href="{{ linkedin }}" class="student-social-linkedin" target="_blank"><span>LinkedIn</span></a>{% endif %}
					{% if github %}<a href="{{ github }}" class="student-social-github" target="_blank"><span>GitHub</span></a>{% endif %}
				</div>
			</div>
			<div class="student-image">
				<!-- <img src="/assets/images/student_sample.jpg" alt="{{ name }}"> -->
			</div>
		</div>
	</section>
	{% include 'partials/in-progress.html' %}
	{{ contents | safe }}
{% endblock %}
