{% extends 'base.html' %}

{% block main %}
	<section class="student-profile">
		<div class="student-header">
			<div class="student-meta">
				<h1>{{ name }}</h1>
				<h3>Product Designer with Rainbow Design Co</h3>
				<div class="student-categories">
					{% for category in projectCategories %}
					<a href="{{ category.href }}" class="student-categories">{{ category.title }}</a>
				{% endfor %}
					<a href="#" class="student-category">Graphic Design</a>, <a href="#" class="student-category">Interactive</a>
				</div>
				<div class="student-social">
					<a href="mailto:{{ email }}" class="student-social-email" target="_blank"><span>Email</span></a>
					<a href="{{ facebook }}" class="student-social-facebook" target="_blank"><span>Facebook</span></a>
					<a href="{{ instagram }}" class="student-social-instagram" target="_blank"><span>Instagram</span></a>
					<a href="{{ linkedin }}" class="student-social-linkedin" target="_blank"><span>LinkedIn</span></a>
					<a href="{{ github }}" class="student-social-github" target="_blank"><span>GitHub</span></a>
				</div>
			</div>
			<div class="student-image">
				<img src="/assets/images/student_sample.jpg" alt="{{ name }}">
			</div>
		</div>
	</section>
	{{ contents | safe }}
{% endblock %}
