{% extends 'site.html' %}

{% block main %}
	<nav class="project-nav">
		<div class="project-nav-filters">
			<a href="#" class="category-target active" data-category="*">All</a>
			<a href="#" class="category-target" data-category="communication">Communication</a>
			<a href="#" class="category-target" data-category="physical">Physical</a>
			<a href="#" class="category-target" data-category="information">Information</a>
			<a href="#" class="category-target" data-category="interactive">Interactive</a>
		</div>
	</nav>
	<div class="project-category-intro">
		<h2 class="project-category-intro-title">Communication</h2>
		<p class="project-category-intro-description">A description about the category of work.</p>
	</div>
	<div class="project-nav">
		<div class="project-nav-category">All Work</div>
		<div class="project-nav-view">
			<div class="student-nav-view-search">
				<input type="text" id="student-nav-view-search-input" class="student-nav-view-search-input" placeholder="Search" />
				<label for="student-nav-view-search-input"><i class="student-nav-view-search-icon i-search"></i></label>
			</div>
		</div>
	</div>
	<div class="project-list">
	</div>
	<div class="project-grid" data-columns>
	{% for project in projects | shuffle %}
		<div class="project-preview">
			<a href="{{ project.href }}" class="project-preview-image">
				<svg class="project-preview-image-placeholder" viewBox="0 0 {{ project.thumbnail.width }} {{ project.thumbnail.height }}" preserveAspectRatio="xMinYMin" width="{{ project.thumbnail.width }}">
					<rect x="0" y="0" width="100%" height="100%"></rect>
				</svg>
				<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP4z8BQDwAEgAF/posBPQAAAABJRU5ErkJggg==" data-src="{{ project.thumbnail | asset_url({ width: 400 }) }}" />
			</a>
			<div class="project-preview-details">
				<a href="{{ project.href }}" class="project-preview-title">{{ project.title }}</a>
				<a href="{{ project.owner.href }}" class="project-preview-student">{{ project.owner.name }}</a>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}
