
@keyframes hover {
	0% {
		transform: translateY(-10%);
	}
	60% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(-10%);
	}
}

//
// Student Film Strip Animations
//

@keyframes play {
	from {
		left: 0;
	}
	to {
		left: -400%;
	}
}

@keyframes rewind {
	from {
		left: -400%;
	}
	to {
		left: 0;
	}
}
