
@keyframes hover {
	0% {
		transform: translateY(-10%);
	}
	60% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(-10%);
	}
}

//
// Student Film Strip Animations
//

// NOTE: 80% because we want to shift over 4 out of 5 frames.
// 4/5 = 80%

@keyframes play {
	from { transform: translateX(0%); }
	to { transform: translateX(-80%); }
}

@keyframes rewind {
	from { transform: translateX(-80%); }
	to { transform: translateX(0%); }
}
