* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	font-family: $karla;
	font-size: 18px;
	line-height: 1.6em;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
	&:visited {
		color: inherit;
	}
}

i {
	font-style: normal;
}

/**
 *
 * Headers
 *
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: $sofia;
	font-weight: bold;

	text-rendering: optimizeLegibility;
}

h1 {
	color: $black;
	font-size: 60px;
	line-height: 64px;
}

h2 {
	color: $black;
	font-size: 36px;
	line-height: 44px;
}

h3 {
	color: $black;
	font-size: 24px;
	line-height: 32px;
}

h4 {
	color: #aaa;
	font-size: 14px;
	line-height: 12px;
	letter-spacing: .87px;
	text-transform: uppercase;
}

/**
 *
 * Headers
 *
 */

p {
	color: $black;
	font-family: $karla;
	font-size: 16px;
	line-height: 24px;
}

/**
 *
 * Forms
 *
 */

input {
	border: 1px solid #000;
	background: rgba(255, 255, 255, .5);
	outline: none;
	margin: 0 0 10px 0;
	padding: 10px;
	color: $black;
	font-family: $karla;
	font-size: 16px;
	line-height: 19px;
}

.min-input {
	border: none;
	border-bottom: 3px solid #000;
}

.btn-primary {
	cursor: pointer;
	border: 1px solid #000;
	background-color: $black;
	display: inline-block;
	margin: 0 0 10px 0;
	padding: 9px 15px 5px 15px;
	color: $white;
	font-family: $sofia;
	font-size: 24px;
	line-height: 24px;
	text-align: center;

	&:hover {
		background-color: white;
		color: $black !important;
	}
}


//
// Common Elements
//

.container {
	position: relative;
	min-height: 100%;
	// NB: this pushes the page to the right if the ribbon is present, which helps
	// keep things properly centred and nice once we remove the ribbon after the
	// event.
	margin-right: $ribbon-width;
}

.main {
	max-width: 1080px;
	// Use padding so that footer will properly display on pages without enough 
	// content to fill the page vertically.
	margin: 0 auto;
	padding: $header-height + 60px 20px 260px;
}
