* {
	box-sizing: border-box;
}

html {
	font-family: $karla;
	font-size: 18px;
	line-height: 1.6em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	font-family: "Karla";
	text-decoration: none;
	&:visited {
		color: inherit;
	}
}

i {
	font-style: normal;
}

/**
 *
 * Headers
 *
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: $sofia;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}

h1 {
	color: $black;
	font-size: 60px;
	line-height: 64px;
}

h2 {
	color: $black;
	font-size: 36px;
	line-height: 44px;
}

h3 {
	color: $black;
	font-size: 24px;
	line-height: 32px;
}

h4 {
	color: #aaa;
	font-size: 14px;
	line-height: 12px;
	letter-spacing: 0.87px;
	text-transform: uppercase;
}

/**
 *
 * Headers
 *
 */

p {
	color: $black;
	font-family: $karla;
	font-size: 16px;
	line-height: 24px;
}

/**
 *
 * Forms
 *
 */

input {
	background: rgba(255, 255, 255, 0.5);
	border: 3px solid #000;
	outline: none;
	margin: 0 0 10px 0;
	padding: 10px;
	color: $black;
	font-family: $karla;
	font-size: 16px;
	line-height: 19px;
}

.min-input {
	border: none;
	border-bottom: 3px solid #000;
}

.btn-primary {
	border: 3px solid #000;
	display: inline-block;
	margin: 0 0 10px 0;
	padding: 8px 15px;
	color: $black;
	font-family: $sofia;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;

	&:hover {
		background-color: $black;
		color: white;
	}
}


//
// Common Elements
//

.container {
	// NB: this pushes the page to the right if the ribbon is present, which helps
	// keep things properly centred and nice once we remove the ribbon after the
	// event.
	margin-right: $ribbon-width;
}

.main {
	margin: 0 auto;
	margin-top: $header-height;
	padding: 60px 20px 0;
	max-width: 1080px;
}
