
* {
	box-sizing: border-box;
}

html {
	background: $black;
}

html.blue-elastic-scroll {
	background: $accent;
}

body {
	font-family: $sofia;
	font-size: 18px;
	line-height: $line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background: rgba($blue, 0.25);
}

//
// Typography
//

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0;
}

p + p {
	margin-top: 1em;
}

p a {
	@include underline();
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

//
// Images
//

img,
svg {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

//
// Components
//

.wrapper {
	@include wrapper();
}

//
// Utility
//

.locked {
	overflow: hidden;
}

.no-wrap {
	white-space: nowrap;
}
