//Intermission Colours

$orange: #f47f50;
$yellow: #fed418;
$red: #ef4862;
$green: #5ac2b4;
$blue: #7abee0;
$accent: #2b4074;
$black: #1E1E1E;

// Typography

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 100;
  src: local('Sofia Pro'),
       url('/fonts/2FF32C_3_0.woff2') format('woff2'),
       url('/fonts/2FF32C_3_0.woff') format('woff'),
       url('/fonts/2FF32C_3_0.ttf') format('ttf'),
       url('/fonts/2FF32C_3_0.eot') format('eot');
}
@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Sofia Pro'),
       url('/fonts/2FF32C_2_0.woff2') format('woff2'),
       url('/fonts/2FF32C_2_0.woff') format('woff'),
       url('/fonts/2FF32C_2_0.ttf') format('ttf'),
       url('/fonts/2FF32C_2_0.eot') format('eot');
}
@font-face {
  font-family: 'Sofia Pro';
  font-style: italic;
  font-weight: 100;
  src: local('Sofia Pro'),
       url('/fonts/2FF32C_1_0.woff2') format('woff2'),
       url('/fonts/2FF32C_1_0.woff') format('woff'),
       url('/fonts/2FF32C_1_0.ttf') format('ttf'),
       url('/fonts/2FF32C_1_0.eot') format('eot');
}
@font-face {
  font-family: 'Sofia Pro';
  font-style: italic;
  font-weight: 500;
  src: local('Sofia Pro'),
       url('/fonts/2FF32C_0_0.woff2') format('woff2'),
       url('/fonts/2FF32C_0_0.woff') format('woff'),
       url('/fonts/2FF32C_0_0.ttf') format('ttf'),
       url('/fonts/2FF32C_0_0.eot') format('eot');
}
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

$font-stack: 'Sofia Pro', -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

html {
	font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
}

// Font smoothing hack
html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
  font-family: 'Karla';
	text-decoration: none;
	color: inherit;
	&:visited { color: inherit }
}

h1 {
	font-family: $font-stack;
	font-size: 60px;
	font-weight: 500;
	color: $black;
	line-height: 64px;
}

h2 {
	font-family: $font-stack;
	font-size: 36px;
	font-weight: 500;
	color: $black;
	line-height: 44px;
}

h3 {
	font-family: $font-stack;
	font-size: 24px;
	font-weight: 500;
	color: #000000;
	line-height: 32px;
}

h4 {
	font-family: $font-stack;
	font-size: 14px;
	font-weight: 500;
	color: #AAAAAA;
	letter-spacing: 0.87px;
	line-height: 12px;
	text-transform: uppercase;
}

p {
	font-family: Karla-Regular;
	font-size: 16px;
	color: #000000;
	line-height: 24px;
}

//Input
input {
  border: 3px solid #000000;
  padding: 10px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
  outline: none;
  font-family: Karla-Regular;
  font-size: 16px;
  color: $black;
  line-height: 19px;
}

.min-input{
  border: none;
  border-bottom: 3px solid #000000;
}

.btn-primary{
  border: 3px solid #000000;
  padding: 8px 15px;;
  margin: 0 0 10px 0;
  display: inline-block;
  text-align: center;
  font-family: $font-stack;
  font-size: 24px;
  color: $black;
  line-height: 24px;
  cursor: pointer;

  &:hover {
  background-color: $black;
  color: white;
  }
}
